[2022-05-26 21:23] josedonizetti opened #41 "Fix duplicate trivy configmap"
When we install `trivy-operator` via `helm` or `kubectl` the configmaps are using the name `trivy-operator`, but the code is  looking for [`trivyoperator`](https://github.com/aquasecurity/trivy-operator/blob/main/pkg/trivyoperator/plugin.go#L55), as it doesn't exist, the plugin will create the configmap leading to a duplication:

<img width="561" alt="Screen Shot 2022-05-26 at 6 22 43 PM" src="htt

[2022-05-27 10:40] elchenberg opened #43 "Discussions tab not found / unable to ask a question"
**What steps did you take and what happened:**

1. I have a question.
2. I read the contributing guidelines that tell me to create a discussion in the Discussions tab.
3. I could not find the Discussions tab.
4. I opted for a new issue. I got to choose between "Bug report", "Feature request", and "Ask a question". The button for "Ask a question" opened the page <https://github.com/aquasecurity/tri

[2022-05-28 13:55] #41 closed

[2022-05-29 07:16] fjogeleit opened #44 "Go Module: ClusterComplianceDetailReports Informer gets wrong argument type"
**What steps did you take and what happened:**

I am using the latest version of the trivy-operator go module to transform different CRDs in a unified format. While working with the ClusterComplianceDetailReports Informer I have the issue that the Objects in the Informer Callbacks are `*v1alpha1.ClusterComplianceReport`.

**What did you expect to happen:**

Expected to get `*v1alpha1.ClusterCompli

[2022-05-29 07:55] chen-keinan commented on #44
@fjogeleit ClusterCompliance reports (including detailed report) functionality  has been disabled on Trivy-operator.
We are working on additional adjustment to make it available on Trivy and Trivy operator.
Once it is ready again , we will announce it.

[2022-05-29 08:05] chen-keinan commented on #43
@elchenberg thanks for the feedback, discussion tab is enabled now :)

[2022-05-29 09:33] fjogeleit commented on #44
Okay, thanks for the quick response.

[2022-05-29 09:33] #44 closed

[2022-05-29 14:05] chen-keinan opened #46 "Add link to trivy operator mkdocs"
Add a Link to Trivy Project --> Operator section (https://aquasecurity.github.io/trivy/latest/docs/kubernetes/operator/)
 on the main README file

[2022-05-30 08:04] elchenberg commented on #43
Thanks!

[2022-05-30 08:04] #43 closed

[2022-05-30 08:15] chen-keinan opened #49 "FS scanning doesn't work with Trivy version >= 0.23.0"
Trivy fs scanning in the same namespace does not work  with the latest starboard. release. v0.15.4.
getting this error:
[code]
update `trivy-operator-trivy-config` configmap :
`trivy.command: filesystem`

Expected result :
scan image

Actual result:
fail with error

[2022-05-30 08:15] chen-keinan commented on #49
Trivy version 0.23.0 introduced sub commands capability, it is required to  change  starboard to support it, when Trivy fs scanning job is initialized, trivy scan job is setting the  init container with old Trivy convention command, without sub command,  therefore the job its failing: [initContainer](https://github.com/aquasecurity/starboard/blob/main/pkg/plugin/trivy/plugin.go#L1066)

[2022-05-30 08:29] chen-keinan opened #50 "publish docker images to ecr public gallery"
Since we've added multi arch support, we started getting timeout errors while publishing container images to Amazon ECR Public Gallery.

goreleaser_publish_to_ecr

To unblock the release workflow, we temporarily stopped publishing to ECR, but we must bring this functionality back. One idea is to create a dedicated workflow that's scheduled after the main release workflow that will pull images from

[2022-05-30 09:19] chen-keinan opened #51 "Added Region support for ECR-Registry handling"
Added support for scanning the private registry of AWS-ECR.
When passing to Trivy Scan job it has no Region based on the scanned ECR-URL.

This PR will add the environment variable which will be passed and later used by trivy to make the right call to AWS.

[2022-05-30 09:22] chen-keinan opened #52 "Remove kube-hunter plugin"
It is required to remove the kube-hunter plugin
- plugin logic
- controller
- helm chart
- crds

[2022-05-30 09:23] chen-keinan opened #53 "Remove the polaris plugin"
Remove the polaris plugin :
- plugin logic
- controller
- helm chart

[2022-05-30 09:23] chen-keinan opened #54 "Remove conftest plugin"
It is required to remove the conf-test plugin
- plugin logic
- controller
- helm chart

[2022-05-30 09:25] chen-keinan opened #55 "remove the kube-bench plugin"
it is required to remove the kube-bench plugin
- plugin logic
- controller
- helm chart
- crds

[2022-05-30 09:28] chen-keinan opened #56 "Add Trivy-Operator to Operator Hub"
Add Trivy-Operator to [Operator hub](https://github.com/k8s-operatorhub/community-operators/tree/main/operators)

[2022-05-30 09:31] chen-keinan opened #57 "Incorporate Kubernetes policy scanner into trivy-operator"
The motivation for this task is to eat aqua open source dog food, meaning have a unified kubernetes policy scanner lib used in the builtin config audit scanner (same as used in other projects).

In this task, trivy-operator will incorporate the new Kubernetes policy scanner introduced by Defsec and it will replace the embedded policy lib used to evaluate configAudit rego scripts.

here is the refe

[2022-05-30 11:11] chen-keinan opened #58 "Trivy-Operator CRDs out-of-sync if deployed using ArgoCD"
**What steps did you take and what happened:**

- I deployed the trivy-operator helm chart using an ArgoCD application and noticed a small issue.
The trivy operator get's installed and it's working perfectly, but the trivy-operator CRDs are staying out-of-sync in ArgoCD.
This is because the `categories:` field of all trivy-operator CRD is an empty list and get's dropped by Kubernetes.
While this m

[2022-05-31 00:09] josedonizetti opened #64 "trivy-operator: secrets scanning"
Trivy now has support to secrets scanning. We should upgrade it, and make sure secrets are supported.

[2022-05-31 05:45] dotdc commented on #58
Just realized that this project is the follow-up to starboard.
I'm the author of the original [issue #1021](https://github.com/aquasecurity/starboard/issues/1201) on Starboard.
I will re-open the PR here.

Maybe you should display a warning banner in the starboard `README.md` to redirected people to trivy-operator :wink:

[2022-05-31 06:02] chen-keinan opened #67 "Remove Aqua scanner plugin"
It is required to remove the aqua scanner plugin
- plugin logic
- controller
- helm chart

[2022-05-31 08:39] #58 closed

[2022-05-31 10:35] chen-keinan opened #69 "Unable to Access GCR Private Registry Using Service Account Credentials"
**What steps did you take and what happened:**

I'm trying to get `starboard` to scan images in a private GCR registry, and I've successfully created the secrets and service account associations with the credentials.

To confirm my credentials work, I used:

[code]

With `gcp-starboard-key.json` being GCP service account credentials.

I then created the `docker-registry` secret in kubernetes using

[2022-05-31 10:39] chen-keinan opened #70 "integration with postee"
Add support for integration with [postee](https://github.com/aquasecurity/postee) :
- support configuration setting for postee
- add capability to wire reports via postee
- add capability to filter reports data passed to postee

[2022-05-31 11:38] chen-keinan opened #71 "deprecate octant plugin"
it is required to deprecate the octant
- update docs
- update diagrams

[2022-05-31 12:19] itaysk opened #72 "GUI for trivy-operator"
Add a Web UI that makes it easy to consume the CRD that the operator generates

[2022-05-31 13:01] josedonizetti opened #73 "chore: fix github issue template"
Let's change the github issue template to have features created as issues, instead of discussion.

[2022-05-31 13:02] josedonizetti opened #74 "chore: synchronize labels between trivy and trivy-operator"
eg: https://github.com/aquasecurity/trivy/blob/main/misc/triage/labels.yaml

[2022-05-31 17:04] josedonizetti commented on #74
@chen-keinan what do you think?

[2022-05-31 18:03] chen-keinan commented on #74
Sure , LGTM ! , lets go for it

[2022-06-01 06:10] #46 closed

[2022-06-01 06:28] #52 closed

[2022-06-01 12:12] #54 closed

[2022-06-01 13:23] josedonizetti opened #78 "expose findings as prometheus metrics"
create a prometheus exporter that exposes the results or trivy-operator as prometheus metrics.
For example, vulnerabilities as metrics.

TBD: spec how results map to metrics and labels

[2022-06-01 19:45] josedonizetti commented on #55
@chen-keinan Removing kube-bench, also means removing ClusterComplianceReport (logic, controller, helm chart, crd, right? Because the cluster compliance is a mix of info from kube-bench/configaudit reports.

[2022-06-02 08:04] #53 closed

[2022-06-02 08:25] chen-keinan commented on #55
not really, lets keep compliance report as we are going to replace kube-bench checks with OPA rego policies

[2022-06-02 12:20] #74 closed

[2022-06-02 12:34] #67 closed

[2022-06-02 16:39] ahmet2mir opened #83 "What are difference between `trivyoperator-trivy-config` and `trivy-operator-trivy-config`"
Hello,

With Trivy-Operator v0.0.3, when I use httproxy or alternative dbrepository from helm values, they are ignored as I see on operator logs which is expected without proxy.

[code]

Helm values `helm get values -n ns-trivy ns-trivy`

[code]

On CM side, `trivy-operator-trivy-config` contains what I defined on helm side

[code]

But containers named `scan-vulnerabilityreport-xxx` contains

[co

[2022-06-02 18:06] itaysk opened #84 "Lens extension"
create a trivy-operator Lens extension (based on Starboard's https://github.com/aquasecurity/starboard-lens-extension)

thanks for @nublarsec for raising this in Slack https://aquasecurity.slack.com/archives/C02KSDSBPGD/p1654184354851129

[2022-06-02 18:34] josedonizetti commented on #83
@ahmet2mir Thanks for reporting. Do you mind if we split this in two issues? And create a specific issue for the httpproxy problem? About the configmap, it was indeed a bug, it was fixed on the PR -> https://github.com/aquasecurity/trivy-operator/pull/42 and will be available on the next release.

[2022-06-03 01:55] mhoshi-vm opened #87 "I see trivyoperator-trivy-config instead of trivy-operator-trivy-config"
**What steps did you take and what happened:**

I followed the installation step

[code]

And I see 2 CM being created. It also seems the `trivyoperator-trivy-config` is overriding the config.

[code]

BTW `trivyoperator-trivy-config`  gets regenerated even after delete

[A clear and concise description of what the bug is, and what commands you ran.]

**What did you expect to happen:**

See only 1

[2022-06-03 08:01] ahmet2mir commented on #83
@josedonizetti If i put the dashed cm into non dashed it works well (proxy / dbrepo etc), so I could close this one. I just had to wait for next release !
Thanks for your quick answer!

[2022-06-03 08:01] #83 closed

[2022-06-03 14:47] #73 closed

[2022-06-03 20:15] erikgb opened #89 "Bugfix release soon?"
Are we able to push a new release soon? I use FluxCD to provision the operator, and would really like to see a release containing this unblocking bugfix: https://github.com/aquasecurity/trivy-operator/pull/42. The workaround renaming the ConfigMap does not work very well with a GitOps controller as Flux.

[2022-06-04 09:34] chen-keinan commented on #89
coming soon : #90

[2022-06-04 12:22] chen-keinan commented on #84
Available now :  [trivy-operator-lens-extension](https://github.com/aquasecurity/trivy-operator-lens-extension)

[2022-06-04 12:22] #84 closed

[2022-06-04 12:24] chen-keinan commented on #72
@nublarsec [trivy-operator-lens-extension](https://github.com/aquasecurity/trivy-operator-lens-extension) available

[2022-06-04 12:50] chen-keinan opened #91 "docs broken links"
fix main docs broken links

[2022-06-04 18:31] #89 closed

[2022-06-04 20:30] chen-keinan commented on #89
Trivy-operator v0.0.5 has been released

[2022-06-04 20:35] #91 closed

[2022-06-04 21:48] erikgb commented on #78
What kind of prometheus support are we looking for with this issue? Do we want:

1. Custom operator metrics, in addition to the ones provided by controller-runtime metrics?
2. Produce metrics from VulnerabilityReport, ConfigAuditReport CRDs? Ref. https://github.com/aquasecurity/trivy-operator/discussions/88
3. Both of the above?

IMO the answer is 3. The reason I ask, is that I might have an inter

[2022-06-04 21:50] erikgb commented on #89
Thanks a lot @chen-keinan. I will check it out tomorrow!

[2022-06-05 22:14] erikgb commented on #78
I've now created a draft PR to show how this can be done: https://github.com/aquasecurity/trivy-operator/pull/96/files

[2022-06-06 12:25] itaysk opened #97 "prometheus metrics for observability"
expose operational metrics that reflects the health and status of the operator

[2022-06-06 13:00] josedonizetti opened #98 "trivy-operator: initial/ephemeral container scanning"
make sure trivy is scanning and reporting on initial/ephemeral container

[2022-06-06 17:41] isugimpy opened #101 "trivy-operator: Pull Images via CRI"
Reached out via Twitter and was redirected here.

From my understanding, the operator is pulling container images based on the image path it scrapes from live objects on the cluster.  However, it's pulling them directly, bypassing configuration on the host.  Personally, I'd like the option to utilize the CRI on the actual host so that we can be sure the image that gets pulled actually matches what

[2022-06-06 22:58] josedonizetti opened #102 "compliance: remove compliance CRD from deploy/static and helm"
Perhaps we should not apply the CRDs for compliance on the cluster while we are not supporting it. It might be misleading.

![Screenshot from 2022-06-06 19-58-05](https://user-images.githubusercontent.com/34032/172262786-0f414ab1-f5b0-4468-8255-78cd09c7e10e.png)

[2022-06-06 22:58] josedonizetti commented on #102
@chen-keinan  wdyt?

[2022-06-07 00:35] josedonizetti opened #104 "trivy-operator: update trivy to latest"
In order to support latest features on trivy (like secret scanning) let's update the version.

[2022-06-07 06:13] chen-keinan commented on #102
ok, can be removed for now.

[2022-06-07 10:58] #55 closed

[2022-06-07 11:54] josedonizetti opened #106 "trivy-operator: add target to vulnerability report"
We should display the vulnerability target. For example, when scanning an image with golang binaries, that will be a target per binary:

[code]

Currently, our report only shows them as vulnerabilities:

[code]

[2022-06-07 17:25] josedonizetti opened #107 "trivy-operator: fix configaudit scanner"
The scanner should be `Trivy`:

![scanner-trivy-operator](https://user-images.githubusercontent.com/34032/172444964-e2e9de68-4792-481c-8b14-8fd7bf5d2e0a.png)

[2022-06-07 22:06] josedonizetti opened #111 "trivy-operator: clustervulnerabilityreports only installed for helm"
The CRD `ClusterVulnerabilityReport` is installed when using `helm` but not by the static `kubectl apply -f`.
Which one is correct?

`helm install`
[code]

`kubectl apply -f`
[code]

[2022-06-07 22:08] josedonizetti commented on #111
@chen-keinan do you know if we should have `clustervulnerabilityreports` installed by `kubectl apply -f` or should we not install it with `helm`?

[2022-06-08 00:17] josedonizetti commented on #64
That makes sense. But I wonder do we want to create reports for all `security-checks`? For example, `trivy image` checks for 3 different security checks `vuln, config, and secrets` (and maybe there will be newer in the future, sbom?). The operator currently only parses vulnerabilities, so it generates 1 vulnerability report for the target (image), if we are saying we will a report specifically for

[2022-06-08 06:09] #71 closed

[2022-06-08 06:28] chen-keinan commented on #111
@josedonizetti thinking about it again, maybe we should keep it with partial results

[2022-06-08 10:01] josedonizetti commented on #111
@chen-keinan partial results? Helm installing but kubeclt no?

[2022-06-08 11:04] chen-keinan commented on #111
any way we use to do kubectl manually

[2022-06-08 11:55] josedonizetti commented on #111
@chen-keinan Not following what you mean. Do you think is it okay for the two commands below to install something different? Shouldn't they be equivalent?

[code]

[code]

[2022-06-08 11:57] #102 closed

[2022-06-08 13:05] josedonizetti commented on #111
@chen-keinan and I spoke about it, and the `clustervulnerabilityreports` is legacy, we can remove it from the helm installation as well.

[2022-06-08 21:12] josedonizetti opened #112 "trivy-operator: add plural to configaudit CRD"
The configaudit reports are namespaced, and they are created for several resources, we should have a plural for it. Currently it only supports singular:

[code]

[2022-06-08 21:12] josedonizetti commented on #112
@chen-keinan any point against?

[2022-06-09 01:47] pradeepnnv commented on #112
I would like to work on it.

[2022-06-09 05:35] chen-keinan commented on #112
All good !!!

[2022-06-09 08:02] itaysk commented on #64
I'm fine with either way, just noted that it will be a deviation from current model (which is fine). I would also solicit feedback from more people before making a decision (I will send this to some people)
anyway, IF we do one CRD, then I think it should be at the resource level not at the image level, since minsonf/secrets will need to report on resources (not only inside the image).

[2022-06-09 08:04] itaysk commented on #64
BTW, do you think that secrets can fit within config audit? the name is generic enough

[2022-06-09 11:02] josedonizetti commented on #112
@pradeepnnv Let us know if you have any questions. Thank you!

[2022-06-09 11:14] #104 closed

[2022-06-09 11:36] josedonizetti commented on #64
I really like it, `configaudit` can cover both security-checks `secret` and `config`, the different is the target, instead of targeting a `resource` it target an image, eg:

[code]

[2022-06-09 13:58] erikgb opened #118 "Image scanning should be based on actual running container image"
I suspect that the operator is scanning images based on the workload specification. This might not always be accurate, and I think it would be better if the scanning was based on the actual image the Pod container is running on.

We have developed an in-house operator similar to trivy-operator, but would like to abandon this work and put our effort into the trivy-operator instead. There might be s

[2022-06-10 06:37] pradeepnnv commented on #112
When I describe the configauditreport, I do see a plural for it.

[code]

@josedonizetti , looks like I'm missing something. Can you please clarify?

[2022-06-10 07:53] 3rgfbrgf opened #119 "Add vuln-type configuration parameter"

[2022-06-10 07:54] 3rgfbrgf commented on #119
It would be useful to have an option for setting up vuln-type parameter for the operator

[2022-06-10 08:02] 3rgfbrgf opened #120 "private registries scan"
It's technically possible to scan private registries if we have a way to pass
TRIVY_INSECURE
TRIVY_USERNAME
TRIVY_PASSWORD
variables to the trivy scanner.
We could set up TRIVY_INSECURE parameter via env.
And we could get TRIVY_USERNAME&TRIVY_PASSWORD from k8s secret with registry pull rights (or any other way).

[2022-06-10 08:04] 3rgfbrgf opened #121 "more granular way to set up security context in helm chart"
It would be nice to have a way to set up securityContexts for:
 - initContainers
 - jobs, which are being run during scans. Including compliance scan jobs, which require a lot of host-level access.

[2022-06-10 08:49] josedonizetti commented on #112
@pradeepnnv Yes, I was referencing about the short names.

[2022-06-10 18:36] #112 closed

[2022-06-11 19:15] mycodeself commented on #106
Hey, I guess the idea is to add a new Target property in the Vulnerability struct and parse it here https://github.com/aquasecurity/trivy-operator/blob/main/pkg/plugin/trivy/plugin.go#L1237

I'm right? or the idea is other? I'd like to help if possible :)

[2022-06-11 20:58] josedonizetti commented on #106
@mycodeself Yes, that is the idea. Let me know if you have any question. Thank yiu

[2022-06-12 14:45] #111 closed

[2022-06-13 08:19] mauricewittek opened #127 "Error x509: certificate signed by unknown authority when trying to download vulnerability DB from private Registry"
**What steps did you take and what happened:**

I installed the trivy-operator via kubectl in version [0.0.5](https://aquasecurity.github.io/trivy/v0.28.1/docs/kubernetes/operator/installation/kubectl/) and made the necessary changes to pull all images from our internal registry (JFrog Artifactory). The operator is running fine and starts the scanning pods. Except for the changes to the image sour

[2022-06-13 08:27] chen-keinan commented on #120
@3rgfbrgf Trivy-operator knows to find references to image pull secrets (direct references and via service account).
and create the temporary secret with basic credentials for each container of the scanned workload.
create the scan job that references the temporary secret. The secret has the ownerReference property set to point to the job.

[2022-06-13 08:30] #107 closed

[2022-06-13 10:27] chen-keinan commented on #121
@3rgfbrgf could you add an example ?

[2022-06-13 10:49] mauricewittek commented on #127
From my understanding this setting would not apply in standalone mode, or am I mistaken? I thought it would only apply to client server mode with an external trivy server.

I have now tried to add this setting, however the error is the same. I tried both settings at the same time and both settings separately, but I still get the same error in any case.

[2022-06-13 11:07] 3rgfbrgf commented on #120
@chen-keinan ok, what about the TRIVY_INSECURE flag? It's needed for scanning private registries with trivy CLI.
Hot to set it up for the operator?

[2022-06-13 11:08] chen-keinan commented on #127
its look like a proxy or else is redirecting the download URL to `https://packages.repo.internal.com/v2/` , have you tried to use trivy by it self without operator and see if you get the same issue?

[2022-06-13 11:09] erikgb commented on #120
It is not always needed when using private registries. If you private registry has a public signed cert, you don't need it.

[2022-06-13 11:42] mauricewittek commented on #127
I changed `trivy.dbRepository` in the deployment manifest from `ghcr.io/aquasecurity/trivy-db` to `packages.repo.internal.com/github-proxy/aquasecurity/trivy-db`, as I'm deploying trivy in an airgapped environment so I cannot access ghcr.io directly.

For the same reason trivy by itself only works if I download the vulnerability database manually and run trivy with `--skip-update --offline-scan`

[2022-06-13 11:47] itaysk commented on #101
Thanks for opening an issue @isugimpy
Trivy tries to scan images from local image store if available, and if not it will pull them from registry. The interaction with local image store is similar to `docker export`. Today Trivy can do this local scanning with Docker and (recently) containerd. We looked into interacting with CRI but it seems that CRI doesn't have an export equivalent method [[1]] [

[2022-06-13 12:17] isugimpy commented on #101
If it ensures accuracy, having a single pod that mounts in the socket from its host doesn't seem unreasonable at all.  Would love to see that.  Not being able to ensure that we can pull and scan the images from the same host that they'd be pulled from to be actually run is, in my opinion, a blocker to being able to use the operator in a live environment.

[2022-06-13 12:22] erikgb commented on #101
I agree, but image name + image digest is the canonical refererence to an image. So if using digest, you don't need to mount the host socket. At least we should have an option to NOT mount anything from the host.

[2022-06-13 12:28] isugimpy commented on #101
You're absolutely correct that the combo is canonical, but if there's no other way to resolve that canonical reference due to a rewrite, it'd leave things in undefined behavior territory.  Your point makes a ton of sense in the 90+% case.  I just worry about it for the smaller percentage of users that take advantage of this feature (containerd also offers the rewrite capability, so this isn't limi

[2022-06-13 13:17] chen-keinan commented on #127
Trivy has added support for it [trivy#240](https://github.com/aquasecurity/trivy/pull/2140), once it will be released we will update trivy version in trivy-operator

[2022-06-13 13:52] chen-keinan opened #128 "Add Trivy-Operator mkdocs to repo"
Add mkdoc to Trivy-operator.
can be moved from here [trivy-->operator](https://aquasecurity.github.io/trivy/v0.28.1/docs/kubernetes/operator/)

[2022-06-13 17:17] #57 closed

[2022-06-14 07:58] chen-keinan commented on #120
@3rgfbrgf see above

[2022-06-14 10:03] 3rgfbrgf commented on #121
@chen-keinan sure.
Let's take as an example any scan-vulnerabilityreport job spec.
There is an initContainer with an empty securityContext.
We have an admission controller in our cluster, which prevents this from running by design.

As for compliance scans - pod for that job should mount host paths and so on.
It should be configurable by providing clear and obvious permissions for host PID, host n

[2022-06-14 10:46] 3rgfbrgf commented on #120
@chen-keinan I don't see this parameter in the latest pulled helm chart (0.0.5)

[2022-06-14 11:14] chen-keinan commented on #120
I have a task to work out the documentation for it, in the mean, while take a look at trivy [scanning config](https://github.com/aquasecurity/trivy-operator/blob/main/docs/vulnerability-scanning/trivy.md). you'll need to update the `trivy-operator-trivy-config configmap`  with this param

[2022-06-14 11:49] josedonizetti opened #137 "Fix flaky test - TestPolicies_Eval/Should_return_error_when_library_cannot_be_parsed"
[code]

[2022-06-14 13:07] #120 closed

[2022-06-14 18:41] josedonizetti opened #139 "configaudit duplicate entries"
This was reported by @erikgb on slack. It seems configaudit report has entries duplicated.

[code]

[2022-06-15 11:20] itaysk commented on #101
I just tried to run nginx from ECR just to see how how the Pod Status looks like, and it has the following:

[code]

Seems like if a rewrite was happening, the image/imageID registry reference would reflect the rewritten one. Is it not the case? (if you could confim @isugimpy)

[2022-06-15 11:23] itaysk commented on #101
Also I wanted to point out a couple of additional options to address the original question:

1. There's an [option](https://github.com/aquasecurity/trivy-operator/blob/d5c90a2615432ac374b0592b3d69c38449607067/docs/vulnerability-scanning/trivy.md#L99) to specify the mirror as configuration (somehow lost in the docs):

2. There's an experimental (also undocumented) feature to scan workloads by scann

[2022-06-15 11:58] isugimpy commented on #101
From one of my clusters:
[code]
I can confirm with 100% certainty that despite this pointing at quay.io, it was pulled from our internal passthrough cache via mirror rewrites at runtime.  CRI-O (and containerd as I recall) doesn't present the result of the rewrite to the Kubelet.

This definitely helps the cause.  It's not ideal to have to duplicate the mirror config, but it definitely would work.

[2022-06-15 13:32] #128 closed

[2022-06-15 20:11] chen-keinan commented on #51
In a way, yes, however, it related more to ECR when permission is assumed from Role.
we fixed in in the Starboard project right after we created trivy-operator, here is the [PR in starboard](https://github.com/aquasecurity/starboard/pull/1191)

[2022-06-15 21:54] MPV opened #141 "CIS Benchmark support"
What are the plans for adding back CIS Benchmark support into the trivy-operator (which existed in Starboard using `kube-bench`)?

[2022-06-15 21:56] MPV commented on #141
I noticed that it was removed in:
- #80

And that there are plans for a different kind of underlying solution, as per: https://github.com/aquasecurity/trivy-operator/issues/55#issuecomment-1144589371

[2022-06-16 06:57] chen-keinan commented on #141
@MPV yes, we are working on adding CIS related checks  as opa policies. once its completed the compliance report will be as well

[2022-06-16 07:33] chen-keinan opened #142 "rbac scanning support"
Add rbac scanning support :
- extend config audit scanning conmfigmap to include rbac policies
- represent rnac result in a designated report

[2022-06-16 08:57] Twicefan98 opened #143 "Trivy-Operator: SBOM"
Are there any plans for SBOM report generation in the future?

[2022-06-16 09:08] chen-keinan commented on #143
@Twicefan98 thank you for raising it, its definitely something we are planning to look at

[2022-06-16 11:49] jmaerki opened #146 "trivy-operator overwhelms smaller cluster with default Helm values"
**What steps did you take and what happened:**

Tried out trivy-operator 0.0.7 today and installed it on my test cluster (k8s 1.23.6) via Helm. After the operator started it immediately began to run dozens of Jobs which quickly overwhelmed the cluster with very high CPU and memory consumption to the point where the whole cluster became unresponsive. Many of the Job pods got OOM killed.

**What did

[2022-06-16 11:58] erikgb commented on #146
@jmaerki I think you can use the [operator.scanJobsConcurrentLimit](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml#L35) value to reduce the number of concurrent jobs. Let me know if this works for you. Setting a default value that suits a majority of users should be the goal.

[2022-06-16 12:45] jmaerki commented on #146
I'm so blind. Sorry for that and thanks for the quick response. I've wrestled the cluster back under control and then changed operator.scanJobsConcurrentLimit to 1. The operator still runs 2 concurrent jobs but at least it doesn't bring the whole 4-node cluster to its knees anymore, just that single RaspberryPi 4 4GB node. I guess I will experiment with Trivy Client/Server mode.
I think it may mak

[2022-06-16 13:26] erikgb commented on #146
I think the default of 10 is fine. Running tiny clusters on RaspberryPi seems like an unusual case to me. Suggest closing.

[2022-06-17 14:15] cdesaintleger opened #148 "Trivy-operator and ImagePullSecret discovery : Wilcard never match"
Using private registry, ex xxx.jfrog.io
The secret used to pull images from this repos is formated as below

`.dockerconfigjson: '{"auths": {"*.jfrog.io": {"username":"mylogin","password":"xxx","email":"foo@bar"}}}'`

When starboard launch the Job to scan the pod, there is not secret created, and the scan fail with this error

`{"level":"error","ts":1654176088.1880994,"logger":"reconciler.vulnerab

[2022-06-18 08:17] itaysk commented on #101
Thanks for checking. For our knowledge, to configure CRI-O for mirroring, are you using this configuration? https://github.com/containers/image/blob/main/registries.conf#L68

[2022-06-18 08:35] itaysk commented on #101
This feature is meant to be used with `vulnerabilityReports.scanJobsInSameNamespace` configuration, which makes the scan job run in the namespace of the scanned workload instead of in the trivy-operator dedicated namespace. Running in the target ns is presumed to succeed in starting a new workload (the scan job) with the scanned image (permissions wise).

The feature originally suggested - scannin

[2022-06-19 06:09] chen-keinan commented on #148
@cdesaintleger thanks you for reporting this issue , we will review it

[2022-06-19 08:41] chen-keinan opened #149 "Operator should not produce vulnerability report if no issues found"
**What steps did you take and what happened:**
there should be a configuration who control if the operator should  produce vulnerability/config  report with empty vulnerability list:
[code]

[2022-06-19 09:32] erikgb commented on #149
IMO this is the desired behavior. As a user I would like to know that my workload image has no detected vulnerabilities.

[2022-06-19 09:52] chen-keinan commented on #101
@isugimpy related PR #150 to solve the fs scanning issue

[2022-06-20 02:55] #49 closed

[2022-06-20 03:00] #148 closed

[2022-06-20 12:44] mavo86 commented on #78
Thanks I will do is so.

[2022-06-20 13:08] mavo86 opened #152 "Extension vulnerabilityreport for prometheus metrics"
For request „[expose findings as prometheus metrics #78](https://github.com/aquasecurity/trivy-operator/issues/78)“ was create a metric for vulnerabilityreport.

This metric is suitable for a Dashborad overview is count and risk of a Deployment.

But there are no Information which kind of vulnerability is relatet to this deployment.

For a more descriptive Dashbord it would be nice to have more In

[2022-06-20 16:17] #106 closed

[2022-06-20 18:39] josedonizetti commented on #119
@3rgfbrgf do you mind expand a little bit more on this request?

[2022-06-20 18:41] josedonizetti commented on #149
Agree, also like it. But maybe we could make it a configuration option to store empty reports or not? @chen-keinan @erikgb

[2022-06-20 18:47] #146 closed

[2022-06-21 07:01] #139 closed

[2022-06-21 08:05] chen-keinan commented on #127
@mauricewittek FYI #164

[2022-06-21 09:41] mauricewittek commented on #127
I just tested with the new Trivy-Operator 0.0.8 which uses a trivy 0.29.1, but I still get the same error:

`{"level":"error","ts":1655803858.6775062,"logger":"reconciler.vulnerabilityreport","msg":"Scan job container","job":"trivy-system/scan-vulnerabilityreport-6f9895d478","container":"39edf7f4-6bff-4611-9e40-fb0e586e23b9","status.reason":"Error","status.message":"2022-06-21T09:30:57.562Z\t\u001

[2022-06-21 10:30] chen-keinan commented on #127
@mauricewittek you mention that you are air-gapped env. where do you store the vuln db you download  ?

[2022-06-21 10:47] chen-keinan commented on #127
@mauricewittek join our [slack channel]( https://slack.aquasec.com/ ) to discuss in details

[2022-06-21 10:50] mauricewittek commented on #127
We are using jFrog Artifactory as a Proxy for external Repositories. So if I want to use the image `docker.io/aquasec/trivy-operator:0.0.8` I have to change the address to `packages.repo.internal.com/docker-proxy/aquasec/trivy-operator:0.0.8`. And this works, the image can be pulled and the operator pod is running in the cluster.

I used the same logic to change `trivy.dbRepository` from

[code]
t

[2022-06-21 12:02] chen-keinan commented on #127
when you resolve it with CLI it works I assume ,which repo type you define and what URL you put in ?

[2022-06-21 13:18] mauricewittek commented on #127
I'm afraid I don't understand what you mean with

But I tried the documentation for using Trivy in Air-Gapped environments: https://aquasecurity.github.io/trivy/v0.29.1/docs/advanced/air-gap/#run-trivy-with-skip-update-and-offline-scan-option

And a `$ oras pull packages.repo.internal.com/docker-github-proxy/aquasecurity/trivy-db:2 -a` works fine and downloads the `db.tar.gz`.

[2022-06-21 13:46] nfsouzaj commented on #127
@chen-keinan Hi, I am also having the same issue. In my case the SSL Inspection of Palo Alto messes up with the certificate which causes it to become "insecure". I am very much looking for the insecure flag so that I can set it in the config map and use the operator seamless. Thanks!

[2022-06-21 15:12] erikgb opened #173 "Add clusterrole aggregating to default user-facing roles"
User stories:

- As a standard user in a multi-tenant cluster, I would like to see the trivy custom resources in the namespace(s) I have access to.
- As a user with the cluster-reader (but not cluster-admin) cluster role, I would like to see all trivy custom resources in the cluster.

I think this can be done by adding a [aggregated clusterrole](https://kubernetes.io/docs/reference/access-authn-au

[2022-06-21 16:27] stone-z opened #177 "Reports mix data from multiple sources, causing inconsistent scores"
Hi folks :wave: this is observed on `starboard` but think it applies here as well so I hope opening this here is ok. `VulnerabilityReports` show inconsistent score/severity vulnerability information even for one CVE in one image. It would also be helpful to expose the data source (or list both NVD and vendor values) from the underlying Trivy scan so that it is clear to downstream users of the repo

[2022-06-21 17:41] #64 closed

[2022-06-22 07:01] #127 closed

[2022-06-22 14:46] nfsouzaj commented on #127
@chen-keinan  Can you please reopen the ticket. I am still facing the same issue.
I downloaded the latest operator, added the flag` trivy.serverInsecure: "true"` and set the trivy version to `trivy.imageRef: "docker.io/aquasec/trivy:0.29.2"` within the configmap trivy-operator-trivy-config and I am still getting the same message:

`tinit error: DB error: failed to download vulnerability DB: OCI ar

[2022-06-22 16:44] josedonizetti opened #180 "Create exposed secrets report for resources"
`trivy` is able to scan exposed secrets on kubernetes resources. The operator should be able to create those reports, currently it only creates for exposed secrets on images.

[2022-06-22 16:45] josedonizetti commented on #180
depends on -> https://github.com/aquasecurity/trivy/issues/2389

[2022-06-22 16:54] chen-keinan commented on #127
@nfsouzaj  this issue has not yet been released , it will be released with trivy-operator v0.0.9

[2022-06-23 09:17] chen-keinan opened #181 "add ExposedSecret Report summary metrics"
Trivy-Operator now supports ExposedSecret Report summary metrics.
the metric collector needs to be updated to collect exposed secret summary metrics as well.
CRD ref :[Exposed Secrets](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/crd/exposedsecretreports.crd.yaml)

[2022-06-23 09:31] chen-keinan opened #182 "use builtin rego policies and allow custom extension via configmap"
The purpose of this change is to use the [builtin rego policies in defSec](https://github.com/aquasecurity/defsec/tree/master/internal/rules) repo  by default and enable users can extend policies with `trivy-operator-policies-config` configmap

Details:

two new flags has been introduced

- `useBuiltinRegoPolicies` The Flag to enable the usage of builtin rego policies by default
-  `supportedConfi

[2022-06-23 10:03] chen-keinan opened #184 "updated expose secret report example"
The [ExposedSecretsReport doc example](https://github.com/aquasecurity/trivy-operator/blob/main/docs/crds/exposedsecret-report.md) does not match a real ExposedSecretsReport , some of the fields are in upper case and some are with spaces

[2022-06-23 10:39] chen-keinan commented on #184
yes, it has to be compatible with other examples, [vulns and configaudit](https://github.com/aquasecurity/trivy-operator/tree/main/docs/crds)

[2022-06-23 11:14] 3rgfbrgf commented on #119
@josedonizetti sure.
I would like to have an option to enable libs scan only, without OS scan.

[2022-06-23 15:03] josedonizetti commented on #149
@itaysk The issue I mentioned.

[2022-06-24 13:04] mtcolman opened #187 "Locking down Trivy operator RBAC"
Hi, I've just been reviewing the [rbac.yaml](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/static/02-trivy-operator.rbac.yaml) and I'm wondering if it's overly permissive given that a clusterRole and clusterRoleBinding are used?

I've seen `create`, `update` and `delete` actions are available on numerous resources and the binding is cluster wide (i.e. all namespaces), permission

[2022-06-24 16:01] bgoareguer opened #188 "Trivy ClientServer mode not working"
**What steps did you take and what happened:**
I installed the `trivy-operator` via the Helm chart with this `values.yaml` file:
[code]

And the following command:
[code]

I did not see any `vulnerabilityreport`.

The scanning pod was not deleted:
[code]

The scanning pod logs show a warning:
[code]

The operator logs show lots of parsing errors:
[code]

**What did you expect to happen:**
I expect

[2022-06-24 23:09] #173 closed

[2022-06-26 05:58] chen-keinan commented on #188
@bgoareguer thank you for this input. I'm taking a look into it.

[2022-06-26 06:09] chen-keinan opened #189 "docs: trivy server url is broken"
The [client server mode url](https://aquasecurity.github.io/trivy-operator/v0.0.8/vulnerability-scanning/trivy/#clientserver) which provide info on client server mode in trivy is broke.

url should be replaced with this one : [modes/client-server](https://aquasecurity.github.io/trivy/v0.29.2/docs/references/modes/client-server/)

[2022-06-26 10:01] chen-keinan opened #192 "remove scan-job logic from configaudit report generation"
since we are not longer using scan-jobs for producing configaudit report therefore we need to remove the legacy code which reconcile and generate scan-jobs for configaudit reports

[2022-06-26 12:06] erikgb commented on #187
@mtcolman Thanks for registering this issue! I agree that the ClusterRole assigned to the trivy-operator ServiceAccount has far too elevated permissions to cluster-wide resources, and should be reviewed and adjusted. I cannot image that the trivy-controllers actually need all these permissions, so I suspect this to be "leftovers" after removing `ClusterVulnerabilityReport` in https://github.com/aq

[2022-06-27 07:12] #188 closed, assigned to chen-keinan

[2022-06-27 08:40] Dentrax opened #193 "Provide Grafana Dashboard for Prometheus Metrics"
I was playing with the operator and couldn't find a Grafana Dashboard JSON file. As discussed in the https://github.com/aquasecurity/trivy-operator/issues/78, I just noticed this feature is very new and almost 1-week-old. https://github.com/aquasecurity/trivy-operator/pull/96/files by @erikgb

I propose we should provide a new Grafana Dashboard at [Configuration](https://aquasecurity.github.io/tri

[2022-06-27 08:57] erikgb commented on #193
It would be nice to add a Grafana dashboard, at least to show users an example on how to use the metrics produced by the operator. We have a dashboard for our internal operator, that we want to replace with trivy-operator. @mikaello

[2022-06-27 11:27] Dentrax opened #194 "Create ServiceMonitor resource in Helm"
To accomplish https://github.com/aquasecurity/trivy-operator/issues/193 we need to create a ServiceMonitor to tell Prometheus to scrape trivy-operator metrics on `/metrics` endpoint in a more elegant way. So we can have more control on the metrics endpoint.

[2022-06-27 12:33] Dentrax opened #196 "Metrics: container and pod values indicates trivy-operator itself"
**What steps did you take and what happened:**

I would expect both `container` and `pod` keys should indicate the _scanned target_ instead.

[code]

**What did you expect to happen:**

container: `redis` (Container that have scanned, should not trivy-operator itself)
pod: `argocd-redis-75bdb869bf-ktgn5` (Pod that have scanned, should not trivy-operator pod)

Actual:

All metrics have `container="

[2022-06-27 12:42] chen-keinan opened #197 "exposedsecretreports are missing from trivy-operator clusterrole"
`exposedsecretreports` are missing from trivy-operator [clusterrole](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/templates/rbac.yaml)

[2022-06-27 13:24] #197 closed

[2022-06-27 15:31] itaysk commented on #181
I believe this is in scope of #78 isn't it? closing unless it's necessary to track separately

[2022-06-27 15:31] #181 closed

[2022-06-28 06:35] erikgb opened #204 "Use controller-gen to generate code/configuration from Go markers"
I notice that trivy-operator uses [code-generator](https://github.com/kubernetes/code-generator) to generate code for API types. While most of the controllers/operators I work with, both open-source and in-house, uses [controller-gen](https://github.com/kubernetes-sigs/controller-tools). As I see it, controller-gen seems better suited for developing/maintaining 3. party controllers/operators, whil

[2022-06-28 10:46] #189 closed

[2022-06-28 11:27] chen-keinan commented on #187
@mtcolman  thank you for pointing out this concern.
I do see that we can improve permission grant to trivy-operator.

1. create a new Role (namespace scope)  for `create` , `update` and `delete` verbs and remove it from ClusterRole for the following
    - ConfigMaps
    - Secrets
    - ServiceAccount

2. keep  the following resources (create / update / delete )in ClusterRole as trivy-operator need

[2022-06-28 11:49] flngen opened #206 "trivy-operator - error: json: cannot unmarshal number into Go value of type trivy.ScanReport"
**What steps did you take and what happened:**

Installed trivy-operator 0.0.8 via helm on k8s v1.19.8. Ran:

[code]
and observed the following in the log:

"stacktrace": "sigs.k8s.io/controller-runtime/pkg/interna/controller.(*Controller).processNextWorkItem\n\t/home/runner/go/pkg/mod/sigs.k8s.io/controller-runtime@v0.12.1/pkg/internal/controller/controller.go:273\nsigs.k8s.io/controller-runtime/

[2022-06-28 12:33] chen-keinan commented on #206
@flngen can you provide more info.
- are you getting this output `No resources found` ?
- are you able to confirm that a vulnerability report has been generated via `kubectl get vulnerabilityreports --all-namespaces` ?

[2022-06-28 13:31] flngen commented on #206
I get a "No resources found"; however if I run: kubectl -n trivy-system get pods, I see the "scan" pods listed, and when I run $ kubectl -n trivy-system logs <pod-name>, I see vulnerabilities in json format.

[2022-06-28 14:40] erikgb commented on #187
I can work on this.

/assign

[2022-06-28 14:54] chen-keinan commented on #204
@erikgb you can pick up this issue and raise a draft PR to be able to continue with evaluating the change

[2022-06-28 14:57] flngen commented on #206
Ok I think we're talking in circles here. I get what you're saying that they're supposed to be persisted. That's the whole point, they are not. The error log is what I posted initially on the log. Please reread it. Something about unmarshalling something.

The pods that start with "scan-<something-random>" for certain contain vulnerabilities in their logs. When you run the command I mention in the

[2022-06-28 15:12] chen-keinan commented on #206
ok , we both understand that the issue is with the persistence, I tried to reproduce it but with no luck , can you provide a bigger context of the error log few line before / after , or even better if you are ok to share the vulnerability json output , so I could debug it.

[2022-06-28 16:17] erikgb opened #207 "CI should verify that all generated is up-to-date"
CI currently checks that the code generated by code-generator is up-to-date: https://github.com/aquasecurity/trivy-operator/blob/main/.github/workflows/build.yaml#L70-L71.

Since the static trivy-operator resources now are generated from the Helm chart, after https://github.com/aquasecurity/trivy-operator/pull/176 (and https://github.com/aquasecurity/trivy-operator/pull/185), I think it makes sens

[2022-06-28 16:38] chen-keinan commented on #196
@Dentrax strange this two labels are not part of the [vulnerabilityreport matrics labels](https://github.com/aquasecurity/trivy-operator/blob/main/pkg/metrics/collector.go#L18)

[2022-06-28 16:47] Dentrax commented on #196
Oh, thanks for the code link, checked the Prometheus config and noticed there are metric relabeling configurations to mutate those labels. Sorry for the inconvenience, closing this one.

[2022-06-28 16:47] #196 closed

[2022-06-28 19:39] stone-z commented on #177
Exactly. As a frequent Trivy user I personally understand that `starboard/trivy-operator` is taking the vendor score here to determine the severity, and I agree with that decision.
The confusion arises when other "downstream" users see the same CVE, in the same image, with two scores and a severity that doesn't match:
[code]
vs.
[code]
The behavior just isn't clear from the output.

I think that w

[2022-06-28 19:58] chen-keinan commented on #177
@stone-z great , sound vital information to me. you pick this issue of you wish.

[2022-06-29 06:37] chen-keinan commented on #207
When thinking about it again , I'm not sure we should commit the static files , probably better add them to .gitignore.
as it used only for testing and development , we can generate it ad hoc, as long as we have the script to do it correctly.
`testing` - during ci pipeline
`dev` - locally

I believe it will simplified, maintenance , dev and release

[2022-06-29 07:30] erikgb commented on #207
Well, this is an interesting idea. IMO Helm is quite opinionated, and I know that a lot of users would prefer to avoid it. So personally I think we should officially support multiple options for installing trivy-operator. But I agree that supporting multiple installation approaches will require more from maintainers and contributors.

[2022-06-29 08:15] chen-keinan commented on #207
I assume that a users who want to use another method of deployment can always run the script (we need to keep the script updated) and auto generate these deployment files (should be also very cleared in documentation).

[2022-06-29 12:00] padlar opened #212 "Flaky unittest"
Following unit test TestPolicies_Eval/Should_return_error_when_library_cannot_be_parsed seems to be flaky

[code]
CI run with the failure https://github.com/aquasecurity/trivy-operator/pull/209/checks?sha=f201faaf6eb4d8bd7651c210e02d2ce148099c11

Successful run https://github.com/aquasecurity/trivy-operator/pull/209/checks?sha=626939f95e3c6e9489127648b4d1fa71d27adb28

[2022-06-29 12:10] chen-keinan commented on #212
Duplicate #137

[2022-06-29 12:10] #212 closed

[2022-06-29 12:57] #182 closed

[2022-06-29 12:58] josedonizetti commented on #207
We could test the idea, support helm only and see what feedback we get, we can always return the statics.

[2022-06-29 14:00] #78 closed

[2022-06-29 16:47] ollide commented on #206
I have exactly the same problem, but only when I deploy the operator with `trivy.mode: "ClientServer"`.

@flngen Do you by chance also use the ClientServer mode?

**Environment:**
- Trivy-Operator Chart Version 0.0.8
- Trivy Chart Version 0.4.15
- Kubernetes version 1.23.3 (Minikube)

[2022-06-29 18:44] erikgb commented on #187
@chen-keinan @josedonizetti This is far more complicated than I imagined! My analyze so far, indicates that the current operator RBAC-setup isn't far from what is needed to support all features in trivy-operator for all operator setups (union of all requirements).

I have created a draft PR (https://github.com/aquasecurity/trivy-operator/pull/215) to document my findings. I have added controller-g

[2022-06-29 19:17] #184 closed

[2022-06-29 20:32] chen-keinan commented on #187
- Running the scan job on the `trivy-system` namespace with private registries do require access to workload secret / service account   can't be avoided unless we find another way to get the image pull secrets in a dynamic way.

- Running  scan job on the workload namespace is less permissive , as we do not have access directly to secrets/service account, scan job access to secret/service account

[2022-06-29 22:35] erikgb opened #221 "Prepare support for K8s 1.25 APIs and removal of PSP"
In order to prepare for the upcoming K8s 1.25 release, we should remove all use of already deprecated APIs that will be removed in 1.25. An overview of the APIs to be removed can be found here: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25

I did a quick scan in the code-base, and it seems like we still use the following APIs:
- `batch/v1beta1 CronJob`; will need to be ch

[2022-06-29 23:16] josedonizetti commented on #221
Probably be able to support APIs based on the running k8s will give us more flexibility, even though those APIs will be deprecated, there will be people using older versions, and preferably we support old and newer APIs based on which k8s version the operator is running. We did something like it for `trivy-kubernetes`. WDYT?

[2022-06-29 23:19] josedonizetti opened #225 "improve prometheus documentation"
- add "Observability" session to docs, and remove metrics from "integrations"
- pre-requisite
- config: enable ServiceMonitor (after crds install)
- a reference to Prometheus install
- example of how metrics data look like
- optional : Grafana usage/configuration

more details on -> https://github.com/aquasecurity/trivy-operator/pull/211

[2022-06-29 23:20] josedonizetti opened #226 "feat: add flag to disable exposedsecret scan"
We can disable scans for configaudits and vulnerabilities. Let's add the same support to exposedsecrets.

[2022-06-30 06:44] erikgb commented on #206
Just a "shot in the dark" from me, but could the issue be related to some kind of mismatch between the client and server versions of trivy? The error message sounds like a problem with unmarshalling.....

[2022-06-30 08:25] ollide commented on #206
So far, I've tried it with Trivy 0.29.1 and 0.28.1 - both result in the unmarshal error.

I've been successfully using this setup with the Starboard Operator + Trivy in ClientServer mode before.

[2022-06-30 08:29] chen-keinan commented on #206
@ollide there was a bug with client-server #190  mode which we fixed and to be released later on today with trivy-operator v0.1.0

[2022-06-30 11:00] erikgb opened #228 "feat: opt-in TTL on trivy-operator managed jobs"
We are trying out trivy-operator in our multi-tenant (and air-gapped) clusters. Our clusters are quite big, and constantly growing. Because of the nature of our clusters, we probably have to adjust the trivy-operator configuration to support scanning across the cluster.

Currently our only feedback source seems to be the operator logs, and that is a bit overwhelming in a big cluster.....

So I wou

[2022-06-30 12:15] chen-keinan commented on #228
I think we should  start with workaround (to improve the immediate problem ), and log issue for long term solution

[2022-06-30 12:55] stone-z commented on #177
@chen-keinan ok I will look into it as time allows.

I was wondering though -- how is the severitySource chosen? Is this documented somewhere? I think it would be very helpful to write down as others have had similar confusion in the past ([1](https://github.com/aquasecurity/trivy/issues/2211), [2](https://github.com/aquasecurity/trivy/issues/879), [3](https://github.com/aquasecurity/trivy/issues/

[2022-06-30 13:11] ollide commented on #206
I can confirm that it works with the v0.1.0 release. Thanks a lot! :+1:

[2022-06-30 14:21] cdesaintleger opened #230 "On a large Cluster - Timeout to list secrets"
**What steps did you take and what happened:**

Hello,
on a large cluster (250+ worker nodes , ~20k secrets) the operator return a lot of error messages about "secret listing timeout" (trace below ).
I think that , the operator query the dataplane to get all secrets in all namespaces, and reach a timeout 60sec.

I don't understand why the operator want to get all secrets in one time.
Maybe there i

[2022-06-30 14:41] chen-keinan commented on #127
@nfsouzaj [trivy-operator v0.1.0](https://github.com/aquasecurity/trivy-operator/discussions/229) has been released checkout the fixes in notes

[2022-06-30 15:28] chen-keinan commented on #177
for the example above :
If it is Red Hat image, it will take precedence , otherwise NVD is used

It depends on where the vuln [trivy scan find](shttps://github.com/aquasecurity/trivy/blob/7cecade3a13de7a4b39946325d9dcb620808233b/pkg/vulnerability/vulnerability.go#L53).

[2022-06-30 16:33] chen-keinan commented on #177
Yes for severity there is preferance , for score we show it as informative data

[2022-06-30 16:58] stone-z commented on #177
That is a little bit confusing, no? Maybe in the the implementation for this issue, the behavior can be changed so the score matches the severity. Users will be able to stil lget the NVD score from the `cvss.nvd` block. WDYT?

[2022-06-30 18:33] padlar opened #231 "cache controller-gen and other binaries in bin folder"
It might be better if GHA could cache the files in the bin folder. If not, this will have to be downloaded on each CI run. Not sure how easy that is to set up?

_Originally posted by @erikgb in https://github.com/aquasecurity/trivy-operator/pull/209#discussion_r910919299_

[2022-07-01 15:08] chen-keinan commented on #231
@padlar please elaborate on process. what is the problem we are trying to solve and more details on the solution

[2022-07-01 15:23] erikgb commented on #231
@chen-keinan I can clarify a bit:

This issue was created from a comment from me when reviewing https://github.com/aquasecurity/trivy-operator/pull/209. In this PR we install controller-gen to a local bin-folder. There should be no need to redo that every time, as the binary will remain the same until we change the version. So the suggestion was to cache the bin-folder contents in CI (GHA), as we

[2022-07-01 15:24] chen-keinan commented on #177
once you have the score, [calculating severity](https://www.first.org/cvss/specification-document) is easy. not sure its need to be capture with in data.

Since trivy is a security tool, then it  is expected from it to give it best decision for severity.
if one would like to prefer other it from other source also can be find from score

[2022-07-01 16:00] flngen commented on #206
yea I'm running in ClientServer mode as well. I'll try the new version.

[2022-07-01 16:28] chen-keinan commented on #206
this issue ` x509 certificate verification error the scan-vulnerabilityreport batch jobs experience` has also been fixed with trivy-operator 0.1.0

[2022-07-01 17:07] flngen commented on #206
excellent ... I'll try it. I can confirm that it works in Standalone mode if I create my own trivy scanner image with my ca-bundle in /etc/ssl/certs/ca-certificates.crt. (trivy-operator 0.0.8). I'll update once I try 0.1.0.

[2022-07-03 09:00] chen-keinan commented on #230
@cdesaintleger following to reviewing  this issue , I can confirm the following :
- trivy-operator doesn't use `client list secrets` as part of it functionality , in some case we get a single secret with  :
   `r.client.Get(ctx, client.ObjectKey{Name: secretRef.Name, Namespace: ns}` with specific refName and namespace but never use ***secrets listing***.

- I do see that the builtin Informer [Refl

[2022-07-03 09:11] chen-keinan commented on #206
checkout setting for [x509 issue self sign](https://github.com/aquasecurity/trivy-operator/issues/127)

[2022-07-03 09:18] chen-keinan opened #237 "vulnerabilityScannerScanOnlyCurrentRevisions does not delete old reports"
**What steps did you take and what happened:**

* Enable vulnerabilityScannerScanOnlyCurrentRevisions on starboard operator
* See reports generated only for most current deployments
* Deploy new revision of deployment
* See report generated for new deployment
* See old report is still there

**What did you expect to happen:**

* old report being deleted as I only want reports for the current deplo

[2022-07-03 10:54] erikgb commented on #221
That is an option, but I suspect that approach will add a lot of additional complexity to the code that could cause a lot of pain over time. IMO we should try to support as many versions as possible. But when in conflict, as in this case, I would prioritize supporting newer versions over versions that have passed EOL upstream. Ref. https://endoflife.date/kubernetes

[2022-07-03 11:09] chen-keinan commented on #221
I would start with Trivy-operator deprecation notice (for two resources above) in next release.
followed by removal in the release close to date of 1.25.

it can be shared with in the announcements

[2022-07-04 08:27] cdesaintleger commented on #230
@chen-keinan thank you for your investigation,
about the situation, i think that it is important to precise that 98% of the secrets are Helm release ( Helm V3) so these secrets are very large (  ) compare to standard secret.
After cleaning oldest Helm versions ( ~4500 secrets ) the situation seems ok.@chen-keinan thank you for your investigation,
about the situation, i think that it is important t

[2022-07-04 08:33] erikgb commented on #230
One workaround could be to disable caching of secrets in trivy-operator - to avoid pulling down all secrets in the cluster. IMO trivy-operator should ideally not have access to secrets cluster-wide, but that is not currently possible because of the feature to support private registries. Discussed here: https://github.com/aquasecurity/trivy-operator/issues/187#issuecomment-1170466039

[2022-07-04 14:12] chen-keinan opened #240 "add docs trivy-operator olm install"
add docs trivy-operator olm install

[2022-07-04 20:29] #240 closed

[2022-07-05 07:01] seb-835 opened #245 "env TRIVY_INSECURE always set to TRUE in the job manifest"
**What steps did you take and what happened:**

After inspecting job manisfest, it looks like env   TRIVY_INSECURE is always set to True,
even though trivy-operator-trivy-config configmap contains :

  trivy.dbRepositoryInsecure: "false"
  trivy.serverInsecure: "false"

**What did you expect to happen:**

 TRIVY_INSECURE set to False  when   trivy.dbRepositoryInsecure: "false" and trivy.serverInse

[2022-07-05 07:48] chen-keinan commented on #245
@seb-835 thanks for reporting , looking into it

[2022-07-05 08:40] chen-keinan commented on #230
Nope, Only by implementing custom informer.

[2022-07-05 12:13] #245 closed

[2022-07-05 12:14] chen-keinan commented on #245
@seb-835 fix will be included with next trivy-operator

[2022-07-05 12:54] chen-keinan opened #248 "Add support for rbac assessment metrics"
Add support for rbac assessment prometheus metrics.
depend on #238

[2022-07-05 13:00] chen-keinan commented on #56
has been added : https://operatorhub.io/operator/trivy-operator

[2022-07-05 13:00] #56 closed

[2022-07-05 15:15] chen-keinan opened #250 "publish multi arch container images to amazon ecr public gallery"
Since we've added multi arch support we started getting timeout errors while publish container images to Amazon ECR Public Gallery.

![goreleaser_publish_to_ecr](https://user-images.githubusercontent.com/1322923/159680375-8231f2eb-b7e3-4b41-a839-56517af779fa.png)

To unblock the release workflow, we temporarily stopped published to ECR, but we must bring this functionality back. One idea is to cre

[2022-07-05 15:27] VF-mbrauer opened #251 "Docker.io rate limitation while pulling trivy"
Running into an issue with the new `trivy-operator` while it created the Scan-Jobs.
Each of the jobs will lead to a Docker.io pull for getting the `trivy-container`

[code]

[2022-07-05 15:44] erikgb commented on #251
@VF-mbrauer What is the expected behavior? I don't think there is much trivy-operator can do with DockerHub rate limits. I just checked that the job container is created with `imagePullPolicy: IfNotPresent`. And that pretty much all that can be done here IMO. Do you have a registry proxy - that could avoid most of the traffic to DockerHub?

[2022-07-05 16:15] VF-mbrauer commented on #251
Hi @erikgb, Trivy could be pushed to a not so limited Registry such as: `https://gallery.ecr.aws/`
That would be a possibility. And yes, this is not an issue of `trivy-operator`

[2022-07-05 16:35] VF-mbrauer commented on #251
According to the template **we can't specify** that via helm values:
https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/templates/config.yaml#L48-L49

[2022-07-05 16:54] erikgb commented on #251
What would you like to set it to? `IfNotPresent` is set by trivy-operator AFIAK, and IMO it is the most correct value to use. If you would like to set the `imagePullPolicy` to something else, please open an issue.

It seems like bitnami is providing trivy-images from [gallery.ecr.aws](https://gallery.ecr.aws/bitnami/trivy). Maybe you can use that as a workaround for the DockerHub rate limits?

[2022-07-05 17:05] VF-mbrauer commented on #251
If that is already the default value when not specifying it, then it is fine.

good catch. Using it now and it works.

What are we going to do with the issue then? Is that something Aqua should also think of, or would we leave it up to customers to decide either to use a different registry or apply the membership for docker.io to overcome the limits?

[2022-07-05 17:39] erikgb commented on #251
I think this is something for users of trivy-operator to decide. :-) I would expect some users to have a registry proxy, and pull-push to your own registry is always a workaround.

For the trivy-operator jobs to pull **official trivy** images from other registries, **trivy** need to push images to those registries (in addition to DockerHub). Only after this is done, the default can be changed here

[2022-07-05 23:41] josedonizetti commented on #251
It seems we were pushing to `public.ecr.aws` before, but due to a problem it was removed. @chen-keinan created an issue to add it back -> https://github.com/aquasecurity/trivy-operator/issues/250

[2022-07-05 23:59] VF-mbrauer commented on #251
Yes, I think he created that upon my chat with him about this specific issue. Let's wait for the outcome.

[2022-07-06 06:09] #142 closed

[2022-07-07 06:18] chen-keinan commented on #251
@VF-mbrauer another quick solution is the use the the trivy images from `ghcr` .

You override this param in `trivy-operator-trivy-config` ConfigMap :
`trivy.imageRef : ghcr.io/aquasecurity/trivy:0.29.2`

[2022-07-07 09:45] chen-keinan opened #261 "deploy trivy-operator image to GHCR"
Add support for deploying trivy-operator image to github container registry.

[2022-07-07 09:48] chen-keinan opened #262 "ghcr is the default container registry in trivy-operator helm chart"
Set ghcr to be the default container registry  in  trivy-operator helm chart
depend on: #261

[2022-07-07 09:53] chen-keinan opened #263 "vulnerability scan job image should be pulled by default from ghcr"
it is require to set vulnerability scan job  to pull `trivy` images from `ghcr` by default.

The following param should be set as default value in `trivy-operator-trivy-config` ConfigMap
`trivy.imageRef : ghcr.io/aquasecurity/trivy:<trivy version>`

[2022-07-07 14:14] nosalan opened #264 "Problem with scanning locally created images on Docker Desktop with WSL 2"
**What steps did you take and what happened:**

I installed trivy operator v0.1.0 on my local Kubernetes cluster hosted by Docker Desktop on Windows with WSL 2 enabled.
While if works fine for workloads using images from internet e.g. an ingress deployment with image: `docker.io/bitnami/nginx-ingress-controller:1.2.0-debian-10-r0` it logs errors for images build locally, e.g. a deployment with ima

[2022-07-07 18:48] VF-mbrauer opened #265 "Possibility to Exclude Jobs/cronjobs from scanning"
Since jobs/cronjobs represent transient workloads it would be possible to skip/exclude them as it is already possible with complete namespaces. So any configuration option would help here to stop frequent scans in case the frequency for a job is set to a minimum.

@erikgb, @chen-keinan: cc

[2022-07-08 07:53] VF-mbrauer commented on #206
I have updated to 0.1.0 and still running into these issues with the `standalone` mode
[code]

@chen-keinan: FYI

[2022-07-08 09:08] cdesaintleger commented on #230
Arf :(
For now i can't use this operator on these clusters.

If you are interested by the cluster size & type that reach the limit or not :

**Does not works on :**
- Cluster GKE 1.21
- 270 Nodes
- 11K pods
- 1125 Ns
- 16700 secrets
- 6116 config map

**Works fine on :**
- Cluster GKE 1.21
- 239 Nodes
- 6.2K pods
- 396 Ns
- 6397 secrets
- 2022 config map

**Logs :**
`Trace[993885509]: [1m0.3085852

[2022-07-08 10:37] chen-keinan commented on #206
@VF-mbrauer are you running is air-gapped env. ?

[2022-07-08 13:34] cdesaintleger opened #266 "Scanner Job fail fs one imagePullSecrets is missing"
**What steps did you take and what happened:**

If you have a deployment with one or more imagePullSecrets and one of these does not exists, the scan job fail.

**What did you expect to happen:**

Exactly As the kubernetes pods controller, just ignore the missing secret.

**Anything else you would like to add:**

To reproduce, create a deployment with two imagePullSecrets. One existant and valid,

[2022-07-09 18:25] erikgb commented on #251
I set https://github.com/aquasecurity/trivy-operator/pull/267 as resolving this issue. I don't think there is much more we can do here. Feel free to reopen if you disagree.

[2022-07-09 18:39] erikgb commented on #221
Since `batch/v1 CronJob` was introduced in K8s 1.21, I think we need to drop support for K8s version < 1.21 if we want to support the upcoming K8s 1.25. I'll create an issue to initiate the process.

I still fear that what @josedonizetti suggested in https://github.com/aquasecurity/trivy-operator/issues/221#issuecomment-1170585201 will make things a lot more complex. But a PR would disclose that..

[2022-07-09 18:51] erikgb commented on #228
I've had a look at the relevant code, and it seems like the jobs are deleted as soon as the job completes, and the report(s) are updated with the result:

The by far easiest solution would be to replace explicit Job deletions with setting[ `.spec.ttlSecondsAfterFinished`](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/) on the Job on creation.. The potential issue with

[2022-07-10 06:18] chen-keinan commented on #264
@nosalan thank you for reporting this issue , we will take a look at it

[2022-07-10 06:32] chen-keinan commented on #266
@cdesaintleger thank you for reporting this issue , we will take a look at this issue

[2022-07-10 10:10] VF-mbrauer commented on #251
Hi @erikgb much appreciated. I totally agree here with you. Thanks for that. Let's wait for the merge and then we can close.

[2022-07-10 15:15] chen-keinan commented on #228
currently I see two issues (might be more) with suggested approach which needed to be addressed :
- After scan job has been completed `trivy-operator` is processing the logs and building the reports , if it to use the TTL approach then it need to be deterministic that job will be evict only after reports has been produced.

- deletion of the job is done on a several condition , not only on success

[2022-07-10 15:34] erikgb commented on #228
So the TTL will only start ticking once a job is **finished** (completed or failed). A TTL set to low will be a bad idea, at least if setting the value when trivy-operator creates the job, but I suggest setting a default value that allows the jobs completed reconciler in trivy-operator enough time to pull out the logs. Another option can be to set the TTL on jobs in the trivy-operator jobs complet

[2022-07-10 15:42] chen-keinan commented on #228
I'm in favor of the later one as it will remove the concern of post processing timing.
how about other cases where we delete the job ? there are 3 cases we delete the job before completion

[2022-07-10 17:44] erikgb opened #275 "Remove all references to PodSecurityPolicy"
According to @chen-keinan in https://github.com/aquasecurity/trivy-operator/discussions/269#discussioncomment-3116062, `PodSecurityPolicy` is not actually in use by trivy-operator although the operator establishes an informer for podsecuritypolicies.

Since `PodSecurityPolicy` is removed in the upcoming Kubernetes 1.25, we should not reference it at all. Ref. https://github.com/aquasecurity/trivy-

[2022-07-10 17:44] erikgb commented on #275
I can work on this, if I can get a confirmation that PSPs are not actually in use.

[2022-07-10 17:52] erikgb commented on #228
Could you reference the code in question? I think all explicit delete of jobs should be replaced by the TTL mechanism.

[2022-07-10 18:02] chen-keinan commented on #228
yes , probably all should be cleared by TTL

[2022-07-10 20:49] erikgb commented on #237
I've had a look at this, and the issue seems to originate from https://github.com/aquasecurity/starboard/issues/926, which is referring to https://github.com/aquasecurity/starboard/pull/870. The title on https://github.com/aquasecurity/starboard/pull/870, "_feat(vulnrebilityreports) Only show the latest vulnrebilityreports from a deployment_", might fool you to believe that the change fixed this i

[2022-07-11 05:41] #251 closed

[2022-07-11 05:41] #263 closed

[2022-07-11 05:50] #207 closed

[2022-07-11 07:40] chen-keinan commented on #50
relate to #250

[2022-07-11 07:40] #50 closed

[2022-07-11 08:38] NissesSenap commented on #237
Thanks for the tag @erikgb , there was a long time ago so my memory is a bit hazy of our thinking. I know that we spoke about it but I think our general feeling was to keep it as simple as possible for starters.

But looking at it now I feel that it would be a nice feature to add auto cleanup of the old reports as well when creating a new RS, this way ensuring quicker metric correctness even thoug

[2022-07-11 09:30] chen-keinan opened #278 "Trivy-operator binary has CRITICAL vulnerability coming from k8s.io/apiserver@v0.20.4"
Trivy-operator binary has CRITICAL vulnerability coming from k8s.io/apiserver@v0.20.4 --> github.com/emicklei/go-restful:2.9.5
[code]

[2022-07-11 11:16] #248 closed

[2022-07-11 11:59] #266 closed

[2022-07-11 17:41] chen-keinan commented on #221
as we only track this resource , we suggest to support `batch/v1beta1 CronJob` and `batch/v1 CronJob` and other by feature flag to give wider support for k8s version

[2022-07-11 20:08] chen-keinan commented on #206
@VF-mbrauer yes go ahead and split the issue

[2022-07-11 20:23] #278 closed

[2022-07-11 21:46] #275 closed

[2022-07-11 22:03] erikgb commented on #275
@chen-keinan Why was this closed as a duplicate to #187? I cannot see how they are related at all....

[2022-07-11 22:05] chen-keinan commented on #275
it will be done in the same scope for supporting k8s: 1.25

[2022-07-11 22:06] erikgb commented on #275
But #187 is for RBAC, and I consider that issue an epic. Meaning it will take a long time to lock down RBAC.

[2022-07-11 22:07] erikgb commented on #275
Maybe you meant https://github.com/aquasecurity/trivy-operator/issues/221? But why delay this?

[2022-07-11 22:09] chen-keinan commented on #275
I want to make it as part of prep to 1.25. RBAC is iterative effort should not wait for it

[2022-07-11 22:18] simar7 commented on #70
hi @chen-keinan - is this currently something that's being worked upon? this would be very handy to integrate trivy and postee in a k8s environment. I can send a PR if needed.

[2022-07-11 22:20] chen-keinan commented on #70
@simar7 go ahead  🚀  I'll love to see it going on

[2022-07-12 05:50] chen-keinan opened #291 "Use explicit permissions for release-snapshot workflow"
This trims down the permissions for the release-snapshot GitHub workflow, adding to the OIDC token permissions.

we got this error: `getting key from Fulcio: retrieving cert: error obtaining token: expired_token`
https://github.com/aquasecurity/trivy-operator/runs/7292849306?check_suite_focus=true

[2022-07-12 07:21] VF-mbrauer opened #295 "Faulty scan jobs blocking further scans from being executed"
**What steps did you take and what happened:**

Due to an error reported in https://github.com/aquasecurity/trivy-operator/issues/206 scan jobs getting stuck.
In this case, other PODs will not be scanned anymore as when the `OPERATOR_CONCURRENT_SCAN_JOBS_LIMIT`is reached, no more Scan PODs will be re-spawned up anymore as trivy-operator still wait for them to finish.

Example (due to the error in

[2022-07-12 07:22] chen-keinan commented on #295
@VF-mbrauer thanks for reporting this , will review it and update

[2022-07-12 10:17] erikgb commented on #295
I'll suggest to fix this by making the limiter don't count finished (completed/failed) jobs. That will also be a requirement for https://github.com/aquasecurity/trivy-operator/issues/228 used with the limiting feature, which I want to do. WDYT @chen-keinan? I can work on it if you agree on the suggested approach.

[2022-07-12 10:23] VF-mbrauer commented on #295
@erikgb, we need to be careful, because it will also lead to resource consumption, as the `not completed` ones will still occupy vCPU and MEM at that time. Therefore, we need to calculate and mention a slight increase of the resources even if you limit them with the `OPERATOR_CONCURRENT_SCAN_JOBS_LIMIT` to a specific value.

@chen-keinan cc

[2022-07-12 10:26] erikgb commented on #295
I think you mean **completed** ones in

?

[2022-07-12 10:29] VF-mbrauer commented on #295
Yes, you are right, corrected my statement already. Thanks for that.

[2022-07-12 11:18] chen-keinan commented on #295
@erikgb sure , pick it up. I agree with @VF-mbrauer  there is a concern around `completed jobs` piling up before cleanup is take place  we can't count on opt-in TTL as probably will not be available  by default in all k8s versions.

[2022-07-12 14:10] #291 closed

[2022-07-12 15:29] chen-keinan opened #302 "rbac assessment crd doc is missing from mkdocs"
- rbac assessment crd md is missing from mkdocs

[2022-07-12 15:39] #261 closed

[2022-07-12 16:59] erikgb opened #305 "Should not error when serviceaccount not found"
... when looking up image pull secrets to scan image. Noted by @chen-keinan when reviewing https://github.com/aquasecurity/trivy-operator/pull/280/files#r918999775.

[2022-07-12 19:36] erikgb commented on #262
Pending a release including https://github.com/aquasecurity/trivy-operator/issues/261

[2022-07-12 19:46] erikgb commented on #295
@VF-mbrauer You can actually set `activeDeadlineSeconds` on scan jobs by configuring `OPERATOR_SCAN_JOB_TIMEOUT`. Seems to have a default value of `5m`. I don't have an environment where I can reproduce your problem. Maybe you can try and see if it helps?

[2022-07-12 20:34] VF-mbrauer commented on #295
@erikgb The default 5 minutes seems also not to help in this case as jobs where sittings there for hours/days. So even lower that value to 1 minutes or similar seems also to be useless.
Si we should also check the meaning of this settings and where does it really influence something.

Reproducing the issue is not necessary as the result is already in my statement above.

[2022-07-12 21:02] erikgb commented on #295
Hmmm, interesting! Can you check your scan Job yaml? If it includes `activeDeadlineSeconds`, and what the value is?

[2022-07-12 21:13] erikgb commented on #237
Thanks for your input @NissesSenap! Always good to get some background on changes. Thinking a bit more about it, I think we should introduce a new configuration parameter, which could be named something in the lines of `vulnerabilityScannerRevisonHistoryLimit`, which will allow us to not be "slaves" of [deployment revisionHistoryLimit](https://kubernetes.io/docs/concepts/workloads/controllers/depl

[2022-07-13 06:15] erikgb commented on #237
I would say the default value probably should be 1 when the transition period has ended, as I think a majority of users prefer to only keep reports for the active replicaset.

[2022-07-13 06:28] #302 closed

[2022-07-13 07:31] VF-mbrauer commented on #295
This is an extract of the Job-yaml:
[code]
It contains the `activeDeadlineSeconds` which is set to 5 minutes.

But the Age is over 14 hours:
[code]

[2022-07-13 08:04] chen-keinan opened #311 "Dead code removal"
opening this for all dead code removal.

[2022-07-13 10:06] githubcdr opened #313 "clusterrole missing cm permission"
It seems that the clusterrole trivy-operator does not allow creating configmaps. This prevents trivy-operator from starting;

[code]

[2022-07-13 10:12] erikgb commented on #313
How do you provision trivy-operator? There is a Role that should allow trivy-operator to create configmaps in the trivy-system namespace:

https://github.com/aquasecurity/trivy-operator/blob/7ddaac9fd1dbe6b0ca4bf47732c2e73118bb4bd9/deploy/static/trivy-operator.yaml#L934-L954

[2022-07-13 10:53] chen-keinan commented on #313
@githubcdr in version of `trivy-operator` was it occur ?

[2022-07-13 11:01] githubcdr commented on #313
0.1.3

[2022-07-13 11:07] erikgb commented on #313
Why should the clusterrole include permissions to create configmaps cluster-wide? By the error message, it seems like you are missing the role and rolebinding.

[2022-07-13 11:31] erikgb commented on #313
@githubcdr Maybe close this issue? 😄

[2022-07-13 13:34] andy-v-h opened #314 "Breaking template change in patch release of the operator helm chart."
**What steps did you take and what happened:**

A recent minor release of the helm chart introduces a breaking regression. in #194, the `kind: Service` the `spec.ClusterIP` was changed to `None`. This breaks existing deployments, especially ones managed by a tool like ArgoCD since changes on services with assigned ClusterIP's to None are not allowed.

ArgoCD users can work around this by selecting

[2022-07-13 13:44] chen-keinan commented on #314
@andy-v-h thanks for reporting , we will address this issue

[2022-07-13 13:56] erikgb commented on #314
We also saw this when upgrading: `Error: UPGRADE FAILED: cannot patch "trivy-operator" with kind Service: Service "trivy-operator" is invalid: spec.clusterIPs[0]: Invalid value: []string{"None"}: may not change once set`.

This was modified in https://github.com/aquasecurity/trivy-operator/pull/195, but I think we have documented that we don't support upgrades atm: https://aquasecurity.github.io/t

[2022-07-13 14:11] andy-v-h opened #315 "Changes to trivy CRDs by the operator happen rather frequently causing other applications to be impacted."
**What steps did you take and what happened:**

The `v0.1.3` was released into our environment today, and shortly thereafter argocd started burning a lot of CPU. To the point, it was pressing up towards pod evictions. After investigating, I found that argocd will [report what triggers](https://github.com/argoproj/argo-cd/pull/8192/files) the `application-controller` to do reconciliation in debug m

[2022-07-13 14:16] andy-v-h commented on #314
It does, however it was set up with auto sync enabled for 50+ clusters, so I had to disable that and apply with these options
![Screen Shot 2022-07-13 at 10 13 14 AM](https://user-images.githubusercontent.com/5001148/178755282-009cac8c-0da7-4a9a-ab6d-99e151bf9b02.png)

I mostly want to make sure this issue is documented for other argocd users if they come looking and can see this.

[2022-07-13 14:16] VF-mbrauer commented on #206
I need to revert my statement. I see it also in the `starboard-operator`. So the same issue is also there.

[2022-07-13 14:21] andy-v-h commented on #314
No, since I'm using argocd it's closest to a `helm template . | kubectl apply -f -`

[2022-07-13 14:30] chen-keinan commented on #314
ahh, thanks for updating , I will make sure our documentation will be more clear about it.

[2022-07-13 14:38] chen-keinan commented on #315
@andy-v-h its not trivy 0.1.3 in specific, what you see is the misconfiguration and rbac assessment checks running very quickly.
The cluster peak is only on startup when the operator hit misconfiguration and rbac resources. afterwards its only delta. maybe it is require to scale up `trivy-operator` for that peak and then scale down once completed.
is should be very fast.

[2022-07-13 14:56] chen-keinan commented on #315
@andy-v-h was it a peak for short period of time or for a long time , its not quite clear from the graph above ?

[2022-07-13 15:05] andy-v-h commented on #315
it was for ~7hours

[2022-07-13 15:39] melnikovpetr123 commented on #237
the same for
chart version: 0.10.6
appVersion: 0.15.6

[2022-07-13 16:09] erikgb opened #318 "Reintroduce labels on generated manifests"
When https://github.com/aquasecurity/trivy-operator/issues/204 is resolved, we will generate CRDs and ClusterRole from Go docs/markers. I consider this a nice improvement which I think will make trivy-operator easier to maintain and improve. But after https://github.com/aquasecurity/trivy-operator/pull/279 and https://github.com/aquasecurity/trivy-operator/pull/304, we lost some labels on the gene

[2022-07-13 16:10] chen-keinan commented on #315
thanks for clarification , now it much clear.

[2022-07-13 16:12] chen-keinan commented on #206
@VF-mbrauer I wouldn't expect to be different as the way we read the logs from Pod has not been changed.
we are losing  part of the json output on huge reports.

[2022-07-13 16:21] #313 closed

[2022-07-14 07:26] chen-keinan commented on #314
@andy-v-h FYI. #301

[2022-07-14 07:42] VF-mbrauer commented on #295
One of the installations which proof that it completely blocks:
[code]
So no Vulnerabilities were scanned at all:
[code]

[2022-07-14 11:16] padlar commented on #237
After going through the discussions here and in [aquasecurity/starboard#858](https://github.com/aquasecurity/starboard/discussions/858) and the associated proposal from @erikgb, I propose the following solution -

Introduce new configuration parameter vulnerabilityScannerRevisonHistoryLimit with the default value of 0. This parameter will control the number of old vulnerability reports to retain.

[2022-07-15 05:36] chen-keinan opened #327 "Errors on main branch"
**What steps did you take and what happened:**

CRD error on the main branch on startup

**What did you expect to happen:**
- deploy static files (namespace / config/ rbac and policies)
- run `trivy-operator` locally on IDE

The following errors appear:
[code]
no error should be presented

[2022-07-15 09:11] #327 closed

[2022-07-15 13:11] erikgb opened #331 "Epic: spec/status on all CRDs and use standard controller patterns"
Most CRDs defined in trivy-operator are currently modelled as database schemas, not using best practices for Kubernetes API: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md. I understand that this was the goal in starboard/starboard-operator, but this is now trivy-operator - and I think it is about time to revisit this discussion.

IMO the

[2022-07-15 14:53] AnaisUrlichs opened #332 "ServiceMonitor did not get installed as part of the Helm install"
**What steps did you take and what happened:**

I followed the docs on deploying the Helm chart https://aquasecurity.github.io/trivy-operator/v0.1.3/operator/installation/helm/

However, the ServiceMonitor was not deployed by default so I could not automatically access vulnerability reports and other metrics from the operator in Prometheus.

**What did you expect to happen:**

Magic

hahah well, t

[2022-07-15 15:07] josedonizetti commented on #332
@AnaisUrlichs Yes, the servicemonitor is disabled by default, because installing it depends on having the https://github.com/prometheus-operator/prometheus-operator running. We didn't make the installation of trivy-operator depend on another operator.

[2022-07-15 15:17] AnaisUrlichs commented on #332
So how do I enable the ServiceMonitor in the Trivy Operator Helm Chart? I had Prometheus running and tried helm upgrade on the Trivy Operator Helm Chart but that did not make it install the ServiceMonitor

[2022-07-15 15:42] josedonizetti commented on #332
[code]

[2022-07-15 18:02] #230 closed

[2022-07-15 18:15] chen-keinan commented on #237
@padlar so its mean that we will continue to create reports for `all previous revisions` but now we only garbage collect it by `vulnerabilityScannerReportTTL` and `vulnerabilityScannerRevisonHistoryLimit`  params ?

[2022-07-15 18:25] #204 closed

[2022-07-15 18:25] #187 closed

[2022-07-16 07:56] chen-keinan opened #334 "CVE-2022-2097 : HIGH Vulnerability on trivy-operator upstream image"
HIGH  Vulnerability on trivy-operator upstream image
[code]

[2022-07-16 10:11] erikgb opened #335 "Testing controllers with envtest cluster"
Working with trivy-operator for a couple of weeks, I already managed to propose changes that introduced bugs. And these bugs were not detected by CI and merged into main. That tells me we need better tests. 😄

I am unable to run integration tests locally for two reasons:

1. My development environment is docker-based, and kind does not run on docker (dind). I've been using [k3d](https://k3d.io/) a

[2022-07-16 10:32] chen-keinan commented on #335
Great initiative looking forward to the PR

[2022-07-16 11:39] #221 closed

[2022-07-16 14:21] erikgb commented on #335
@chen-keinan I am glad you like the idea! Here's a teaser (spoiler-alert): https://github.com/aquasecurity/trivy-operator/pull/337/files ;-)

[2022-07-16 15:29] chen-keinan commented on #331
Thanks for adding this issue , as discussed I'll set up a meeting so we could discuss on the solution  and agree on how to move forward with it.

[2022-07-17 16:35] chen-keinan opened #341 "bump trivy version to release 0.30.0"
bump trivy version to release 0.30.0

[2022-07-17 19:03] erikgb opened #343 "Attempt to create ClusterRbacAssessmentReport with invalid name"
**What steps did you take and what happened:**

I just booted up a fresh cluster with trivy-operator and some other stuff installed. It seems like our ClusterRbacAssessmentReport-reconciler is attempting to create a report with an invalid name:

[code]

**What did you expect to happen:**

Resources scanned without errors.

**Anything else you would like to add:**

[Miscellaneous information that w

[2022-07-18 07:27] #341 closed

[2022-07-18 08:46] padlar commented on #237
Just setting VulnerabilityScannerReportTTL alone is not sufficient to delete old reports. For example if there are 8 replica sets and the TTL is set to 24hrs, vulnerability reoorts for all 8 replica sets will be regenerated post TTL expiry. So to delete old reports without regenerating them, user has to set vulnerabilityScannerScanOnlyCurrentRevisions along with VulnerabilityScannerReportTTL. This

[2022-07-18 11:26] chen-keinan commented on #237
I know ,but this is what we want to `This restricts the scanning and the report generation to the latest revision`
trivy operator is runtime scanner it should only present what is running now on the cluster.

so vulnerabilityScannerScanOnlyCurrentRevisions along with VulnerabilityScannerReportTTL should solve the issue

[2022-07-18 13:57] erikgb commented on #237
IMO is keeping a scan report around, but not (re-)scan it, not optimal. And this issue really shows what users expects out of the `vulnerabilityScannerScanOnlyCurrentRevisions` property. It just doesn't do what users expect/want! Even if the property-name should give you an idea.  I think we'll just wait for https://github.com/aquasecurity/trivy-operator/issues/331 to revisit this issue. If someon

[2022-07-18 14:07] alexwiedermann opened #344 "Trivy-operator expose port 80 but metrics port is 8080 (service not working)"
**What steps did you take and what happened:**

Installed trivy-operator on kubernetes

`helm upgrade trivy-operator aqua/trivy-operator --namespace trivy-system --create-namespace --set="trivy.ignoreUnfixed=true" --install`

Try to use service on prometheus or just a port-forward
`kubectl port-forward svc/trivy-operator 8080:80 -n trivy-system
Forwarding from 127.0.0.1:8080 -> 80
Forwarding from

[2022-07-18 14:12] chen-keinan commented on #237
IMO  `vulnerabilityScannerScanOnlyCurrentRevisions` and `vulnerabilityScannerReportTTL` both should be activate by default , it will give us the same result.
I do not see the need for introducing additional logic on top of it.

[2022-07-19 05:12] #334 closed

[2022-07-19 08:40] chen-keinan opened #351 "update policies configmap after startup do not trigger rescan"
**What steps did you take and what happened:**
 - start trivy-operator without empty configAudit policies config map
 - useBuiltInPolicies param is switch off
 -  update policies configmap (add policies)

Expected : old resources should be rescan with configAudit  new policies
Actual : old resource are not scanned

[2022-07-19 08:57] maxime-sourdin opened #354 "Missing verbs for ClusterRole"
**What steps did you take and what happened:**

I deployed trivy-operator via ArgoCD on a managed Kubernetes cluster.

 The trivy-operator pod kept crashing and there are several error messages about missing rights on the clusterRole:

{"level":"info","ts":1658220285.4394526,"msg":"Starting workers","controller":"job","controllerGroup":"batch","controllerKind":"Job","worker count":1}
W0719 08:44:4

[2022-07-19 09:07] erikgb commented on #354
@maxime-sourdin How did you configure the trivy-operator RBAC? The clusterrole created by the Helm chart grants this permission: https://github.com/aquasecurity/trivy-operator/blob/v0.1.3/deploy/helm/templates/rbac.yaml#L53

[2022-07-19 09:09] maxime-sourdin commented on #354
I set it up that way:

`rbac:
  create: true
serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  annotations: {}
  # name specifies the name of the k8s Service Account. If not set and create is
  # true, a name is generated using the fullname template.
  name: "trivy-operator"`

[2022-07-19 09:17] erikgb commented on #354
I think you have to take a look at ArgoCD/Helm and "dig in", because you configuration should create/update a clusterrole with the required premissions. We render the Helm chart to static resources, and that permission is also included there: https://github.com/aquasecurity/trivy-operator/blob/v0.1.3/deploy/static/trivy-operator.yaml#L741. Please let us know why you think this is an issue with tri

[2022-07-19 09:38] maxime-sourdin commented on #354
I think I figure out the problem, obviously when I updated from an old version, I forgot to overwrite the templates/rbac.yaml

Thanks a lot for your help!

[2022-07-19 10:01] erikgb opened #355 "Opt-in to use k3d as an alternative to kind for local dev"
My development environment is docker-based. Long story, but mainly to be able to work on Linux, as my company only provides workstations with Windows pre-installed. We are working on a WSL2 setup, but that will still take some time.

And kind does not run on docker, but [k3d](https://k3d.io/) does. We use k3d a lot internally, so each time I want to test trivy-operator on my local workstation, I h

[2022-07-19 10:21] erikgb opened #356 "Opt-in to override the operator default configuration for local dev"
I am sitting in a semi air-gapped environment where i.e. all images must be pulled through our company image proxy. This requires me to override the default trivy-image configured in trivy-operator if I want to test/check something locally. This is annoying, and I am looking for a more robust way of adjusting trivy-operator configuration when running locally on kind/k3d.

Using kustomize to patch

[2022-07-19 11:16] chen-keinan opened #357 "config and rbac report should not re-generate the same report"
During operator reconciliation it check if report exist in order to not generate it again.

The check failed due to a bug in object type matching  and cause report re-generation
`.metadata.generation` has been incremented on every update and external systems who are monitoring this property were affected by it.

[2022-07-19 11:19] chen-keinan commented on #357
@JAORMX this is the problem with argo CD #

[2022-07-19 11:19] josedonizetti commented on #332
@AnaisUrlichs Closing the issue. Feel free to reopen it if you think something is still missing.

[2022-07-19 11:19] #332 closed

[2022-07-19 11:24] chen-keinan commented on #315
@andy-v-h the fix for  #357 the overload , we will do a patch release ASAP

[2022-07-19 11:28] AnaisUrlichs commented on #332
All good, I'm happy

[2022-07-19 11:32] #357 closed

[2022-07-19 11:38] dirien opened #359 "OOMKilled in vulnerability scan job"
**What steps did you take and what happened:**

Since we migrate from starboard-operator to trivy-operator, we see now many jobs terminate with OOMKilled in the trivy-operator log:

[code]

We also increased the cpu and memory limit to:

[code]

But did not helped.

We run trivy in `ClientServer`

**What did you expect to happen:**

That there is no OOM error in the job.

**Environment:**

- Trivy

[2022-07-19 11:51] JAORMX commented on #315
By the end of the week I'll work with @andy-v-h to re-deploy trivy-operator in some test clusters, see if the PR addresses the issue alongside the argoCD ignore statements.

[2022-07-19 11:53] chen-keinan commented on #359
@dirien can you please share more info :
 - request value stay as default ?
 - how many `vulnerability scan jobs` running on the same Node?
 - what is the memory available on the Node?

[2022-07-19 12:06] dirien commented on #359
Hi @chen-keinan,

ofc!

- `request` is default
- just this one. the other all run through.
- 12GB

[2022-07-19 12:19] chen-keinan commented on #359
Thanks can you please run : `kubectl describe pod [name]` and send here the output

[2022-07-19 12:20] dirien commented on #359
from the trivy-operator?

[2022-07-19 13:16] dirien opened #361 "ConfigAuditReport get recreated in high frequency"
**What steps did you take and what happened:**

We see in our cluster following effect, that the `ConfigAuditReports` get recreated every second:

[code]

Here a screenshot:

![image](https://user-images.githubusercontent.com/38325136/179759193-b14bb5d3-7bd8-46b6-b0d0-5f12ac882ee9.png)

![image](https://user-images.githubusercontent.com/38325136/179759216-678ed9f4-3815-4dc2-a4fd-37837cff029d.png)

[2022-07-19 13:22] dirien commented on #359
Unfortunatly its to quick deleted :(

❯ k describe pod scan-vulnerabilityreport-55787d6c98-bq4zn -n security
Error from server (NotFound): pods "scan-vulnerabilityreport-55787d6c98-bq4zn" not found

[2022-07-19 13:23] chen-keinan commented on #361
@dirien fixed by #353 , coming up with next release

[2022-07-19 13:27] chen-keinan commented on #359
I hope you'll get better luck catching it next time , it will help to track the root cause of OOM , in the mean time will try to look for it myself

[2022-07-19 13:32] erikgb commented on #359
I think this has nothing to do with luck, we need this feature IMO: https://github.com/aquasecurity/trivy-operator/issues/228 😉

[2022-07-19 13:50] chen-keinan commented on #359
@erikgb go a head and pick it up , I assume its more important than other PRs . and it should be configurable

[2022-07-19 13:55] dirien commented on #359
Would be awesome!

[2022-07-19 13:56] erikgb commented on #359
I would love to, but waiting for other PR making it easier to test things before suggesting new features. 😊

[2022-07-20 06:24] chen-keinan commented on #355
not sure about this requirements , look like personal use case , kind is highly used and popular. maybe try to find a way to support both

[2022-07-20 06:53] erikgb commented on #355
Of course! :-) I am not at all suggesting to drop kind. Kind should still be the default and no changes in the UX.

[2022-07-20 07:01] erikgb opened #370 "Suggestion for refactoring: Split WorkloadController"
I think the WorkloadController struct has too much responsability, as it is actually two controllers in one struct. This makes the [Go file](https://github.com/aquasecurity/trivy-operator/blob/main/pkg/vulnerabilityreport/controller.go) large, which could be fixed by just splitting funcs between files. But for testing, it would be much easier if we had two structs, one for each controller: `Worklo

[2022-07-20 07:24] chen-keinan opened #371 "High Vulnerability - CVE-2022-30065 found on trivy-operator (amd) alpine 3.16.1 image"
[code]

[2022-07-20 07:58] mauricewittek opened #372 "Unable to set trivy.insecureRegistry via helm chart"
**What steps did you take and what happened:**

I'm trying to deploy the trivy-operator in an airgapped environment. I got it to work with the static deployment file by setting the following values in the `trivy-operator-trivy-config` configMap:

[code]

However, I'm unable to set `trivy.insecureRegistry` via the trivy-operator helm chart. The helm chart seemingly only allows for the definition of

[2022-07-20 08:54] chen-keinan commented on #372
@mauricewittek you can pick up this item if you like

[2022-07-20 09:37] erikgb opened #373 "Operator doesn't have permissions to list deployments"
**What steps did you take and what happened:**

After upgrading trivy-operator to the latest release (0.1.4), I notice this in our logs:

[code]

**What did you expect to happen:**

No errors in logs.

**Anything else you would like to add:**

I am pretty sure that this bug was introduced by https://github.com/aquasecurity/trivy-operator/pull/215/files, and I will look into where access to deploym

[2022-07-20 10:42] #373 closed

[2022-07-20 10:49] mauricewittek commented on #372
I will give it a shot. But what would be the correct implementation? Is `nonSslRegistries` just a typo in the helm chart, or is it a valid parameter and `insecureRegistry` should be added additionaly?

[2022-07-20 11:08] chen-keinan commented on #372
@mauricewittek sorry , missed it , its no a typo , should be key-value [sslRegistries Setting](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/templates/config.yaml#L62)

[2022-07-20 12:52] josedonizetti commented on #265
@VF-mbrauer Is the idea here to exclude the scanning for all cronjobs? Because if you have a cronjob running every minute for example, it should only be scanned once, right? The image/config wouldn't change, so for a specific cronjob we would have only one scan unless it was changed.

[2022-07-20 13:00] erikgb commented on #265
If we were to add a feature to achieve this, I think it should be more generic - allowing you to exclude one or more workload resources from scanning.

[2022-07-20 13:06] erikgb commented on #265
@josedonizetti Annotations? On the workload itself? That would be another use-case IMO. I think what @VF-mbrauer is asking for, is a feature on the operator config level.

[2022-07-20 13:10] josedonizetti commented on #265
@erikgb Yeah, but did you understand exactly the feature/reason? A configuration at the operator level to do what? Exclude all cronjobs/jobs scan? For what reason? Frequency of scan? (like for the same cronjob? or because there are too many jobs?)

[2022-07-20 17:00] chen-keinan commented on #370
its very low priority , I'll put in the backlog in the meantime try to manage with out it

[2022-07-20 17:40] chen-keinan commented on #121
@3rgfbrgf please confirm if the PR #362 solve your use case or you need it more granular in container level

[2022-07-20 23:06] jrhunger commented on #343
Looks like this happens for any Role or ClusterRole that has capital letters in its name.  Seems the name of the CRD is subject to one of the DNS-like object name rules (https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names) however it is basing its name on the Role/ClusterRole it describes, and those objects are not subject to the same rules.

[2022-07-21 08:25] erikgb commented on #343
@jrhunger Thanks, would you know if the name rules are documented somewhere? I am bit surprised to see a clusterrole name with uppercase letters, but I am developer and not a cluster-admin. 😸

Found a [similar issue](https://github.com/hashicorp/terraform-provider-kubernetes/issues/324), and suggest we add some logic to our custom resource names. WDYT, @chen-keinan?

[2022-07-21 08:45] erikgb opened #379 "Unable to set trivy.command via Helm chart"
**What steps did you take and what happened:**

I want to try the [filesystem mode](https://aquasecurity.github.io/trivy/v0.30.1/docs/references/cli/fs/) of trivy, and I know from looking at the code in trivy-operator that it should be supported by the operator. But I cannot find a way to configure it using the Helm chart.

**What did you expect to happen:**

I can configure `trivy.command` via th

[2022-07-21 09:08] erikgb commented on #343
I think the correct func to use for resource name is `validation.IsDNS1123Label`. I see that this could be fixed in a couple of places. Not just the `ClusterRbacAssessmentReport`.

[2022-07-21 10:27] erikgb opened #381 "Use indexes to lookup related resources more efficiently"
I notice that trivy-operator has quite a few internal use cases for looking up related resources, where owners/dependents as the most common one. I suggest to use [controller-runtime indexes](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client#hdr-Indexing) to make these lookups more efficient and precise. That should also some existing TODOs in the code base. Example: https://github.com/

[2022-07-21 10:37] JAORMX commented on #381
This suggestion makes a lot of sense. I can help review if needed. Thanks for looking into this!

[2022-07-21 10:54] erikgb opened #382 "Operator should NOT establish list/watch for multiple API versions of the same resource"
I notice that we bootstrap the workload controller with two list/watch for cronjobs: https://github.com/aquasecurity/trivy-operator/blob/6916d7b1476cc50638a7d3f66822cfa96ad92b4e/pkg/vulnerabilityreport/controller.go#L79-L80

I don't know the controller-runtime internals that well, but that seems very wrong to me, and might be cause for the races seen occasionally by @josedonizetti when reviewing/t

[2022-07-21 10:58] lahiruperamune opened #383 "Twirp error unauthenticated: invalid token"
**What steps did you take and what happened:**

The trivy operator is running fine. But log shows following error for some containers. These images are from our private registry (Gitlab).
We do see that the temporary secrets with the imagePullSecrets are created and the credentials are correct.

`image scan error: scan error: image scan failed: failed analysis: unable to get missing layers: unable

[2022-07-21 11:08] josedonizetti commented on #382
Yup, I think this one slipped during the review. if you not taking it, i'll make a PR for it. About the data races, I will keep running some tests on it today, keep you posted.

[2022-07-21 11:19] chen-keinan commented on #379
@erikgb you should be able to configure `fs mode` by setting it in `trivy-operator-trivy-config` with `trivy.command: filesystem`

[2022-07-21 11:21] josedonizetti commented on #383
@lahiruperamune Thanks for reporting the issue. Are you using ClientServer mode?

[2022-07-21 11:24] erikgb commented on #379
@chen-keinan I know, but not available through the Helm chart, ref. the bug title. Also asked on Slack: https://aquasecurity.slack.com/archives/C03L2H45L3H/p1658393524973549?thread_ts=1657901726.745519&cid=C03L2H45L3H

[2022-07-21 11:26] erikgb commented on #382
Feel free to pick it up, I am not going to. This is part of the "enterprise adjustments" that you from Aqua should care for. 😉

[2022-07-21 11:33] lahiruperamune commented on #383
Yes @josedonizetti. It is ClientServer mode.

[2022-07-21 11:36] chen-keinan commented on #379
I see but this is a trivy param, not sure it should be part of helm , we are working now for introducing `trivy.config.yaml` to give all trivy options included in one yaml structure which will be passed to trivy job via configmap. so we could have all options in once place

[2022-07-21 11:38] chen-keinan commented on #343
since the role name is kept in label we have to pass it via label validator as well.

[2022-07-21 11:41] josedonizetti commented on #379
@chen-keinan Think this one makes sense. We currently allow users for example to change the trivy mode on the helm installation, so it would make sense to allow to change the command too, even if later we move to the configmap.

https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml#L126

[2022-07-21 11:45] josedonizetti commented on #383
@lahiruperamune what is the server version? I think this bug is due to a mismatch of versions between client/server.

[2022-07-21 11:50] chen-keinan commented on #379
Note sure about is as `Mode` is not a trivy param while `fs` is , therefore I think its place is with the params

[2022-07-21 12:00] josedonizetti commented on #379
Gotcha. Interesting semantics. I see them as the same because, `mode` control if you use a trivy flag `--server` or not, on the operator mode decides if you get `getPodSpecForStandaloneMode` or `getPodSpecForClientServerMode`. While command control if you get the two options mentioned (depending on mode) or`getPodSpecForStandaloneFSMode`.
At least for me they feel very similar to each other, one c

[2022-07-21 12:36] #382 closed

[2022-07-21 13:08] lahiruperamune commented on #383
Trivy-Sever Version is: `0.29.2`  (The Helm-Chart version is `0.4.16`)
Trivy-Operator Version is: `0.1.3`  (This is also the Helm-Chart version)
Trivy version of pods being scanned via the operator is: `0.29.1`

[2022-07-21 13:13] josedonizetti commented on #379
@chen-keinan Thinking about it, and maybe we should not have `command` at all, because we don't support all trivy commands, we support different ways of running trivy. Maybe `mode` should support 3 options `Standalone`, `ClientServer` and `Filesystem`, each configure trivy to run on a different way. WDYT?

[2022-07-21 14:22] chen-keinan commented on #379
Not sure,  it sound wired , Standalone or server mean where the Vuln DB is located (locally or remote) , Filesystem is scanning param , so there could be many combination as `Standalone Image` , `Standalone Fs` , `Server Image` and `Server fs` .IMO how trivy  operate,  FS or Image its Trivy config and should not be as part of helm chart .

[2022-07-21 15:13] #361 closed

[2022-07-21 16:18] chen-keinan commented on #379
@josedonizetti Thinking  about it again  , I agree with you that this `FS` param can be and should exposed via helm chart.

[2022-07-21 16:48] erikgb commented on #343
Some insights to this problem by Master Liggitt on Slack: https://kubernetes.slack.com/archives/C0EG7JC6T/p1658391621520889

[2022-07-21 18:26] josedonizetti commented on #373
@erikgb Not sure as well from the point of view of tighten RBAC, but maybe it does make sense to only scan a rs if there is one active on the cluster? But not a high priority change I would say, perhaps raising an issue to further discuss the idea with the community?

[2022-07-21 18:31] erikgb commented on #373
@josedonizetti I can create an issue for this, sure. But then I think it should apply for all Pod-controller resources. So not only replicasets, but also statefulsets+++.

[2022-07-21 18:43] erikgb opened #387 "Don't scan workloads with desired replicas=0"
This issue is a follow-up on a discussion started after a bug to trivy-operator clusterrole: https://github.com/aquasecurity/trivy-operator/issues/373#issuecomment-1191222047

To reduce the number of reports, metrics etc., I am proposing to NOT scan any workload with desired replicas=0. This will at least apply to replicasets, statefulsets and replicationcontrollers. All workload resources support

[2022-07-21 20:23] NissesSenap commented on #387
Sounds very reasonable.

Could it be a good thing to show in the vulnerability report which deployment the RS come from? Might it even be worth having it as a label in metrics?
Yes the image vulnerability is the most important part, but it will make things easier if we can see where the image is used.

I can't remember how the current data looks like but it wouldn't surprise me if it's already the

[2022-07-22 08:59] #262 closed

[2022-07-22 09:21] chen-keinan opened #390 "Add ConfigAuditScannerScanOnlyCurrentRevisions and VulnerabilityScannerReportTTL active by default"
it is required to make ConfigAuditScannerScanOnlyCurrentRevisions and VulnerabilityScannerReportTTL active by default.

This change will solve 2 problems:

- Removed old reports revisions of replicates which are not running in the cluster
- The reports (vulnerability/configaudit and etc) will be updated with latest vulnDB and security policies data. on a daily basis

Related to issue #393

[2022-07-22 09:46] lahiruperamune commented on #383
Hi @chen-keinan Thanks for your comment. There was a problem with the configMap and now it is working.

[2022-07-22 09:46] #383 closed

[2022-07-22 09:57] erikgb commented on #390
Related issue: https://github.com/aquasecurity/trivy-operator/issues/387

[2022-07-22 12:06] chen-keinan commented on #372
@mauricewittek is this still an issue ?

[2022-07-22 14:35] chen-keinan opened #391 "Support to outdated resources apis checks"
It is require to add support for outdated resources apis checks.
outdated mean if resource (group/api/kind) is about to be `deprecated` or `removed` in coming k8s versions:

Tasks:
- Load outdated api data source
- Validate if outdated resources exist in the cluster
- Create report for outdated api resources

[2022-07-22 15:39] chen-keinan commented on #371
Closing for now , Vulnerability no longer appear on snapshot `trivy` image scan

[2022-07-22 15:39] #371 closed

[2022-07-22 16:12] evr3n opened #392 "Not able to pull images from GCR"
**What steps did you take and what happened:**

I am trying to scan images from a private GCR registry. I created a service account and secret and added the imagePullSecret to the CM.

No vulnerability reports are generated and the trivy-operator pod log returns the following:
[code]
**What did you expect to happen:**

Trivy-operator scanning the images and generating vulnerability reports.

**Any

[2022-07-22 16:23] chen-keinan commented on #392
@evr3n thank you for opening this issue , I will review it.

[2022-07-22 16:24] chen-keinan commented on #392
Related #69

[2022-07-24 09:20] chen-keinan opened #393 "Add TTL capability to all Reports"
Add Time To Live  attribute to config audit/rbac/expose secrets reports (similar to existing TTL in vulnerability report).

This feature will enable `trivy-operator` to a rescan of resources for builtin policies lib updates

[2022-07-24 12:19] chen-keinan commented on #392
@evr3n I was able to test `trivy-operator` with gcr (private) and it was working ok no issues found.
what I did to test it :
1. I have confirmed that json_key is good:
- cat gcp-trivy-operator-key.json | docker login -u _json_key --password-stdin https://gcr.io/
2. created secret key
- kubectl create secret docker-registry trivy-operator-gcp-access --namespace default --docker-server=gcr.io --dock

[2022-07-24 13:58] chen-keinan opened #395 "Add support for license scanning"
**What steps did you take and what happened:**
it is require to add support for license scanning via trivy.
- extend trivy scan job
- collect license scanning results
- produce a new crd with license scanning data

[2022-07-24 14:02] chen-keinan opened #396 "support trivy default config yaml"
Add support to trivy default config yaml.
- All trivy options should be included with default config.yaml file
 - default config yaml should be be distributed with trivy-operator-trivy-config configMap
 - config.yaml file should mounted to vulnerability scan job for trivy to be used.

[2022-07-25 06:33] mauricewittek commented on #372
@chen-keinan I'm working on a pull request to add `insecureRegistries` to the helm chart.

If you would like to close this issues before I made the request, this is fine for me.

[2022-07-25 06:35] chen-keinan commented on #372
Lets keep it open until issue resolved

[2022-07-25 09:30] movd commented on #193
@devopstales created three dashboards for their implementation of a trivy operator ([trivy-operator](https://github.com/devopstales/trivy-operator)); maybe they can be used as a starting point?

Screenshot:

![screenshot custom trivy exporter grafana dashboard](https://devopstales.github.io/img/include/trivy-exporter.png)

[2022-07-25 11:56] #372 closed

[2022-07-25 12:00] josedonizetti commented on #396
Preferably, all options exposed should also be configurable via helm.

[2022-07-25 12:02] josedonizetti commented on #393
@chen-keinan wonder if we shouldn't also have it for exposedsecrets considering we will add TTL to all reports with this issue. wdyt?

[2022-07-25 12:11] chen-keinan commented on #393
yes, I think  we should have it for every report which relay on set of rules

[2022-07-25 14:03] evr3n commented on #392
@chen-keinan thanks for your response. I did create the secret the same way, however I want to give the operator's service account the imagePullSecret, not the workload that will be scanned. Is there a way to achieve that?

[2022-07-25 14:18] chen-keinan commented on #392
I the same way need:
-  create `service account` with imagePullSecret
[code]
- add `service account` name to podSpec
[code]

[2022-07-25 14:33] #379 closed

[2022-07-25 14:33] #390 closed

[2022-07-25 14:38] evr3n commented on #392
I think we might be misunderstanding each other, so just to make sure let me summarize:
we have a service account for the trivy-operator which holds the imagePullSecret, as we have a very large number of workloads to scan and don't want to change their spec if avoidable. So we want to specify the imagePullSecret on the operator's side and not on the workloads' side.

[2022-07-25 17:39] chen-keinan commented on #392
Thank you for the clarification.

The way trivy-operator works today , it find references to image pull secrets (direct references from pod spec or indirect via service account ,meaning pod spec has to hold service account name)
see reference to [private registries](https://aquasecurity.github.io/trivy-operator/v0.1.5/vulnerability-scanning/private-registries/)

[2022-07-25 20:33] josedonizetti opened #400 "ConfigAuditReport error on kubernetes 1.19"
[code]

[2022-07-26 11:07] #311 closed

[2022-07-26 12:45] dkarnutsch commented on #392
@evr3n I stumbled across this thread, because I had the same problem...

Your pullsecret might be of type `kubernetes.io/dockercfg`, which is considered legacy. It should use `kubernetes.io/dockerconfigjson` instead. Relevant lines of code: https://github.com/aquasecurity/trivy-operator/blob/6276bb14942ec0d45b78c44cdf20b4fb43f5d86d/pkg/kube/secrets.go#L63

[2022-07-26 16:03] VF-mbrauer commented on #295
@erikgb @chen-keinan Aby news about that one. Until this gets finally solved I hesitate to rollout further.
Jobs are still in a stuck state.

[2022-07-26 19:15] chen-keinan commented on #295
@VF-mbrauer this issue is under internal review, I will update you once we have a solid solution.

[2022-07-27 06:00] JAORMX commented on #392
I'm actually struggling with a similar issue. Except that the secrets in my cluster are `kubernetes.io/dockerconfigjson` 😕

[2022-07-27 12:22] chen-keinan commented on #193
look very nice 🚀

[2022-07-28 06:32] ichasco-heytrade opened #402 "Add variable for `automountServiceAccountToken`"
Hi, I would like to variabilize the `automountServiceAccountToken` field. It's needed if someone want to use a tool like `vault-secret-webhook` to retrieve the secrets. In the operator and in the jobs.

Thanks!

[2022-07-29 13:05] MPritsch commented on #237
We have a bunch of clusters which get cluttered with old reports fairly fast. I honestly expected from the name `vulnerabilityScannerScanOnlyCurrentRevisions` that it would only keep new reports and remove old ones. I feel like the name is misleading.

In any case, we use the grafana dashboards from starboard-exporter and having old versions floating around will balloon the amount of found CVEs. W

[2022-08-03 08:14] akerge opened #404 "Separator for vulnerabilities in the report"
In the vulnerability report there's no separator for found vulnerabilities. By adding a comment sign or whatever between each vuln, would make the report a bit easier to read. Currently:

[code]

I am proposing something like this:

[code]

Perhaps there's even a better solution. Tell me what you think!

[2022-08-03 14:41] davidkarlsen opened #405 "Doesn't work on openshift"
**What steps did you take and what happened:**
scanner started

[code]

**What did you expect to happen:**
it being able to pull images and scan them

**Anything else you would like to add:**

Openshift 4.10.x, which runs podman

**Environment:**

- Trivy-Operator version (use `trivy-operator version`): 0.1.5
- Kubernetes version (use `kubectl version`): 1.23.3
- OS (macOS 10.15, Windows 10, Ubunt

[2022-08-03 17:30] dirien opened #407 "rego_type_error: undefined function data.lib.result.new when using custom policy"
**What steps did you take and what happened:**

I wrote a custom rego poliy for misconfiguration and I get following error message in the log:

[code]
The rego file looks like this, and works in standalone trivy:

[code]

**What did you expect to happen:**

The custom policy gets processed and ready to applied to the selected kind.

**Anything else you would like to add:**

[Miscellaneous informat

[2022-08-04 10:33] mauricewittek opened #408 "insecureRegistries in values.yaml only works with chart from a local directory, not with the Aqua chart repository"
**What steps did you take and what happened:**

[code]

In the `values.yaml` I made the following changes:

[code]

Looking at the `trivy-operator-trivy-config` configmap I can verify that `insecureRegistries` is not set:

[code]

However, if I install the Trivy-Operator from a local repository, it works:

[code]

[code]

**What did you expect to happen:**

I would expect that the installation wor

[2022-08-05 08:03] zhenfangwg2 opened #409 "Add support for pulling trivy scanner image from private repository"
In a K8s system, when the controller submits a scanner job, the credentials for composing "imagePullSecret" comes from the credential of the target container. But if the target container is public accessible (no imagePullSecret), but the `trivy` image is located in a private registry, then the scanner job will never succeed.

We wonder if we could add an extra imagePullSecret configuration in conf

[2022-08-06 10:41] josedonizetti commented on #408
@mauricewittek Thanks for reporting. This happens because we haven't release trivy-operator since your PR to add `trivy.insecureRegistry`. There should be a new release next week, that will fix this issue. Sorry for the delay, but part of the team is off now on vacation.

[2022-08-08 09:02] mauricewittek commented on #408
Ah thank you. I thought it was part of the `0.1.5` release and was suprised it didn't work, but I misread. It says "11 commits to main **since** this release" but I read "11 commits to main **in** this release." 😅

[2022-08-08 09:02] #408 closed

[2022-08-08 12:52] josedonizetti commented on #404
@akerge Thanks for the suggestion. But comments are ignored when we apply the resource to k8s. It seems you using `describe` to see the report, have you tried to use `kubectl get`? In my option it looks a little nicer, easier to understand the separation. Eg:

[code]

Also, have you considered using k8slens? The report looks real nice on it if you install the trivy-operator extension. https://gith

[2022-08-08 14:47] akerge commented on #404
Thanks, it is nicer with `get vuln <crd> -o yaml`!

The separator itself is trivial. The findings with `kubectl describe clusterrbacassessmentreports.aquasecurity.github.io` do have empty lines between them. Something similar would be nice :)

[code]

Regarding Lens, I've tried it recently and it wanted to register account to use it and that was too much.

[2022-08-09 08:42] 1003n40 opened #414 "Running operator on containerd cuts the logs in client/server mode"
**What steps did you take and what happened:**

I took the last version of trivy-operator and started it with client server mode, which worked out for the most pods, but on random it starts to fail because of cut logs, thus it can not parse them when retrieving them. This doesn't happen when running on dockerd as a CRI. The same can happens when you try to run multiple pods calling the same client

[2022-08-10 00:02] josedonizetti opened #415 "Have only one source of configuration"
Currently, there is two separate ways to configure trivy-operator settings. There are settings configured as environment variables to the deployment, and some other options configured in a configmap.  This leads to complexity in code, for example, all controllers receive `etc.Config` and also `trivyoperator.ConfigData` which represent the different way of configuring trivy-operator.  Also, from a

[2022-08-12 06:19] smalltown commented on #359
I also encounter the same problem, the memory usage of the scan job did exceed the limit setting in the K8s resource quotas
![Screen Shot 2022-08-12 at 2 18 34 PM](https://user-images.githubusercontent.com/6273652/184295982-a13b70a7-123f-454f-ade9-44981928cb68.png)

[2022-08-12 07:19] 1003n40 opened #416 "Creation of automatically deploying server when using Client/Server mode"

[2022-08-12 20:44] maswertyDT commented on #409
^Requesting the same feature

[2022-08-14 06:58] chen-keinan commented on #409
@zhenfangwg2 sound reasonable.  feel free to pick up this issue if you want :) .

[2022-08-14 08:26] chen-keinan commented on #405
@davidkarlsen thank you for reporting this issue , we will review it.

[2022-08-14 08:28] chen-keinan commented on #407
@dirien thanks yo for reporting this issue , we will review it and update

[2022-08-14 08:43] chen-keinan commented on #416
@1003n40  interesting , you mean that trivy-operator will  deploy a pod/service with `trivy server` mode in `trivy-system` namespace ? can you please elaborate on this use case

[2022-08-14 08:44] 1003n40 commented on #416
Yep or the helm chart based on your choice.

[2022-08-14 14:40] chen-keinan commented on #416
@1003n40 I like it , looking forward to see the PR for it.

[2022-08-15 08:20] davidkarlsen commented on #405
it works if I configure a http_proxy, and I see that you can configure that via the configmap (although I had to look a bit around to find the options).
It seems it tries to obtain the image with:
* docker socket (won't work on OCP, as it uses CRIO / podman)
* crio (but then it needs to mount a socket)
* containerd (not relevant on OCP)
* directly over api's

is this mechanism for fetching the ima

[2022-08-15 14:23] VF-mbrauer commented on #206
@flngen which Operating System do you use underneath?

[2022-08-16 06:52] chen-keinan commented on #405
Looking at [Trivy Code - NewContainerImage](https://github.com/aquasecurity/trivy/blob/aef02aa1747c78bc2deca8ce1572a549bfc30dac/pkg/fanal/image/image.go#L47)
its look like its follow this chain depend on the option is get:
- dockerd
- podman
- containerd
- registry

[2022-08-16 07:45] nerzhul opened #420 "0.1.6 release ?"
Hello, regarding our recent contributions we'd like to do more test on the upstream version of the project, and prevent an internal (and temporary) fork to continue our tests on the solution. Is this possible to release a 0.1.6 with at least the security context changes for the jobs ?

Thanks :)

[2022-08-16 08:29] chen-keinan commented on #420
@nerzhul a new. version of `trivy-operator` will be release later on this week.

[2022-08-16 08:50] chen-keinan commented on #414
@1003n40 thank you for the input can you please add logging or additional info on the failure

[2022-08-16 13:47] 1003n40 opened #421 "OOM of the trivy-operator when multiple logs can't be parsed"
**What steps did you take and what happened:**

I have 10 parallel scan jobs running which makes some of the jobs to cut off response from trivy server. When cutting the logs the parser can't do the parsing thus it errors out before cleaning up opened log stream resource.
**What did you expect to happen:**

I expect logs to close and not cause the operator use more memory because of unclosed strea

[2022-08-16 13:56] #355 closed

[2022-08-17 07:59] #421 closed

[2022-08-17 20:17] VF-mbrauer commented on #206
After some tests, we found out that the issue is based on the containers log file rotation based on the size
[code]

For a test we changed the kublet configuration to for example **30Mi**
Now the scanner can continuously write the vulnerabilities without getting interrupted it works.
Because when Trivy tries to stream to logs from the pod, it streams the new log which obviously will fail unmarshal

[2022-08-18 04:46] chen-keinan opened #422 "use compression to reduce trivy output report size to avoid hitting container logs max size"
It has been found out that trivy scan job produces scanning results bigger than pod max log default value (10MB), as result log rotation happens and operator is unable to unmarshal results from pod logs.

- suggested  workaround : Increase the [kubelet default ](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) `--container-log-max-size`

- long-term solution will be to w

[2022-08-18 04:48] chen-keinan commented on #206
@VF-mbrauer thank you for checking it. I have open an item for long term solution

[2022-08-18 08:17] chen-keinan commented on #422
Another solution suggested by @JAORMX is to use compression `bzip2` and encode `base64` the  pod logs, it can be implemented on the `trivy` command  something like this :
[code]
Once the scanning has been completed the operator will uncompress and decode the pod logs streaming of trivy scan job output and create the vulnerability report

I think it is preferred solution as it is simple and require

[2022-08-18 09:06] chen-keinan opened #424 "vulnerability CVE-2022-37434 found in operator image"
[code]

[2022-08-18 09:27] #424 closed

[2022-08-18 11:50] nerzhul commented on #420
@chen-keinan glad to hear :) i'm waiting for it :)

[2022-08-18 11:50] nerzhul commented on #420
if you need some feedback tell me, we'll install it on cluster with thousands of pods, if i have issues i will tell you

[2022-08-18 12:13] chen-keinan commented on #420
thanksm,  I'll appreciate you'r feedback

[2022-08-18 14:57] yuriydzobak opened #429 "Add into Job tolerations and nodeSelector"
Hi,
sometimes cluster has a lot different nodes pools and it shouldn't schedule PODs what ever it could be controlled by nodeSelector and toleration.
trivy operator is able to change JOB toleration and nodeSelector
it would be great if that is changing via helm values

[2022-08-18 15:46] #420 closed

[2022-08-18 15:59] chen-keinan commented on #315
close this issue as fix was provided by #357 , if still and issue can be opened again

[2022-08-18 15:59] #315 closed

[2022-08-18 16:03] chen-keinan commented on #121
closing this issue as it been implemented by #362 @3rgfbrgf if still an issue feel free to open it

[2022-08-18 16:03] #121 closed

[2022-08-18 16:11] chen-keinan commented on #314
Closing issue as no action to be taken. @andy-v-h ,  you can open it if you think any action is required

[2022-08-18 16:12] #314 closed

[2022-08-18 19:10] VF-mbrauer commented on #265
Hi @josedonizetti, we need to adjust this issue in his descriptions a bit so that it explains not the complete skip Cronjobs, etc. but furthermore, it should be detected that even if the cronjob runs every 1 minute and if the Image behind has changed. If the image is still the same, it should be excluded from `re-scanning`. In case it has changed in the meantime the image or Image tag should be pa

[2022-08-19 10:14] yuriydzobak opened #430 "Integrate policyreports"
Would be nice if you add features[ trivy-adapter](https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report/trivy-adapter) into operator, create `wgpolicyk8s.io` as your standart CRDs

[2022-08-20 12:04] chen-keinan opened #432 "process scan job report only on pod termination state equal to Completed"
on processing a scan job output , the scan job could be in status `Complete`  however it decedent pod has termination state `nq` to `Completed` , example `OOMKilled` in that case the operator will try to process the report even if it doesn't exist.

It is required to avoid post scan job processing when the decedent pod has termination state `nq` to `Completed`

[2022-08-20 12:35] chen-keinan commented on #432
Closing , issue not relevant anymore

[2022-08-20 12:35] #432 closed

[2022-08-22 16:11] rsharma222 opened #433 "Images from private gcp artifact registry can not be accessed using Workload Identity"
**What steps did you take and what happened:**

setup the workload identity to be used by the default service account used by the trivy-operator. I see the SA mapped to the google SA correctly but still images are not scanned

**What did you expect to happen:**

I expected private images from the private OCI artifacts to be scanned and vulnerability reports to be scanned

**Anything else you would

[2022-08-22 19:10] josedonizetti commented on #415
@chen-keinan Do you mind if I take this issue?

[2022-08-22 20:32] josedonizetti commented on #404
@akerge The messages separation occur because this field is empty on the report. If there was one it would look like:

[code]

[2022-08-22 20:34] josedonizetti commented on #414
@chen-keinan could this also be related to kubernetes log rotation configuration?

[2022-08-22 23:04] josedonizetti commented on #265
@VF-mbrauer AH! That makes sense. So, for example, if someone is only updating a deployment configuration, without changing an image, we would not rescan it, given image/tag haven't changed. Correct?

If so, I'll change the description/title, because currently it is misleading what the issue is asking.

[2022-08-23 05:19] chen-keinan commented on #433
@rsharma222 thanks for reporting on this issue .
can you pls add logs with error if exist ?

[2022-08-23 05:32] chen-keinan commented on #414
@1003n40 you can change the trivy image tag by setting this value in `trivy-operator-trivy-config` configMap :

`imageRef: ghcr.io/aquasecurity/trivy:0.29.1`

[2022-08-23 06:32] VF-mbrauer commented on #265
@josedonizetti

Yes, that is correct.

But I think that should not differ that much from the process of how deployment manifests are handled already nowadays.
The concept works anyway that way. Until something has been changed in deployment it will be just the TTL that will reinitiate the re-scan of an image. Otherwise, if somebody changes the Deployment, it will get also triggered.

The base of t

[2022-08-23 08:45] rsharma222 commented on #433
Following is the error:

[code]

[2022-08-23 13:28] #422 closed

[2022-08-23 14:23] chen-keinan opened #441 "etcdserver: request is too large"
It has been observed that in some cases the report produced by `trivy-operator` is hitting the default [etcd request limit](https://etcd.io/docs/v3.3/dev-guide/limit/#:~:text=Request%20size%20limit,bytes%20flag%20for%20etcd%20server.)  and fails.

The reason for report getting too big is due to amount of vulnerabilities (found in image) and it associated data stored in the report.

Workaround for

[2022-08-23 14:33] chen-keinan opened #442 "Reduce the amount of vulnerability fields stored in the vulnerabilities report"
in some clusters the vulnerability report produce by 'trivy-operator' is hitting the `max request limit of etcd`

it is suggested to reduce the amount of fields stored for each vulnerability , that same data already exist in [AVD](https://avd.aquasec.com/) so the data will not be lost.

example of fields that can be removed: `title` , `fixed version` and etc

Vulnerability data with fields :
[code

[2022-08-23 14:35] rsharma222 commented on #433
Closing the issue, Its working with the workload identity

[2022-08-23 14:35] #433 closed

[2022-08-23 14:37] josedonizetti commented on #433
@rsharma222  Did you have to do anything specific for it to work? Asking in case some other user go through the same problem.

[2022-08-23 14:42] chen-keinan opened #443 "Remove vulnerability report repetitive data"
Today the vulnerability report include a lot of repetitive data , this amount of data cause the report become very big and exceed the etcd request limit.

it is suggested to re-structure (breaking change) the report data to a better way for it to reduce the amount of repetitive data and become smaller.

[2022-08-23 14:51] rsharma222 commented on #433
Hi @josedonizetti,

No not really, There was an issue with my workload identity config. Once that was fixed it worked smoothly.

Renuka

[2022-08-23 15:00] chen-keinan commented on #433
@rsharma222 please updated us with the finding on how you make it work so we could updated our docs for the community

[2022-08-23 15:06] chen-keinan opened #445 "use EndpointSlice for splitting the vulnerability report to smaller reports"
In some clusters the vulnerability report produce by 'trivy-operator' is hitting the max request limit of etcd.

It is suggested to use [EndpointSlice](https://kubernetes.io/blog/2020/09/02/scaling-kubernetes-networking-with-endpointslices/) , sharding,  and split the report to smaller reports.

This solution should be long term as it require more dramatic changes

[2022-08-23 15:08] #206 closed

[2022-08-23 16:38] #226 closed

[2022-08-24 06:13] chen-keinan commented on #402
@ichasco-heytrade you can pick up this issue if you like :)

[2022-08-24 06:18] #370 closed

[2022-08-24 08:12] ichasco-heytrade commented on #402
This has to be changed in the jobs. But I don't know how to do it. If it had been be in the HELM templates I would have done myself

[2022-08-24 16:40] josedonizetti opened #449 "trivy not working when upgraded to 0.1.7"
FATAL   flag error: scan flag error: unable to parse security checks: unknown security check: secrets

[2022-08-24 16:57] #449 closed

[2022-08-25 08:40] adrianmarcu18 opened #454 "Fail to create vulnerability jobs in ClientServer mode"
**What steps did you take and what happened:**

Run Trivy Server in K8s
Run Trivy Operator in ClientServer mode and setting serverUrl to previously deployed Trivy Server
When Trivy Operator tries to create a vulnerability scan job for a replicaset with multiple containers it fails due to:
"spec.template.spec.containers[1].volumeMounts[1].mountPath: Invalid value: \"/tmp/scan\": must be unique"

Th

[2022-08-25 11:20] chen-keinan commented on #454
@adrianmarcu18 thanks for reporting this issue , we will issue a fix ASAP.

[2022-08-25 11:22] josedonizetti opened #455 "chore: upgrade to latest defsec"
https://github.com/aquasecurity/trivy-operator/pull/440

[2022-08-25 14:11] josedonizetti opened #458 "chore: release candidates should not have the changelog"
We want to always have a release candidate before a release, though, currently when we release the RC the changelog is tied to it, then when we release the final version, it contains no changelog. We want the RC to be like tracee, eg:

https://github.com/aquasecurity/tracee/releases/tag/v0.8.0-rc-2
https://github.com/aquasecurity/tracee/releases/tag/v0.8.0

[2022-08-25 15:13] FelixKampfer commented on #121
Hi, I thinkk #362 doesn't address the securityContext of initContainers. I opened https://github.com/aquasecurity/trivy-operator/pull/459 as a possible solution.

[2022-08-25 22:51] simar7 commented on #70
hi @chen-keinan - just wanted to solicit some feedback regarding how we can go about implementing this before I start writing code and also to validate my understanding regarding the Trivy-operator codebase.

1. Currently I see there are 2 kinds of reports being generated: `clustercompliancereport` and `configauditreport`. They both seem to live as CRDs. Which one would make the most sense to send

[2022-08-26 05:58] chen-keinan commented on #70
1. We have today 8 types of CRDs the last two are not active today (will be back soon)
- `clusterconfigauditreports`
- `clusterrbacassessmentreports`
-  `configauditreports`
- `exposedsecretreports`
- `rbacassessmentreports`
 - `vulnerabilityreports`
 - `clustercompliancedetailreports`
 - `clustercompliancereports`

The first six are event base, meaning every time a resource is deployed a report i

[2022-08-26 06:24] JAORMX commented on #415
@josedonizetti thanks for picking this up! This would be a very nice improvement!

[2022-08-26 09:00] anjmao opened #462 "Scan container images from hosts fs"
Currently trivy-operator requires rbac with read access to all cluster secrets. Looks that this is required only to find pull secret.

I'm thinking if we could add option to configure trivy-operator to mount /var/lib/docker as readonly and scan images layers directly from local fs.
In such case scan scheduling job logic need to be smarter and find best suitable node with free resources or wait unt

[2022-08-26 10:32] ichasco-heytrade commented on #402
Hi, @chen-keinan I have tried but have not succeeded :(

[2022-08-26 11:25] chen-keinan commented on #402
@ichasco-heytrade no worries , we will pick it up and you could review it

[2022-08-26 11:30] chen-keinan commented on #462
@anjmao we have it already , `trivy-operator` support [FileSystem scanning](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml#L229) is this what you mean ?

[2022-08-26 13:42] FelixKampfer opened #464 "Allow configuration of trivy-operator pod labels"
Hi, my cluster has some custom network policies that require the `trivy-operator` pod to have a specific label. Currently, only the labels of the ServiceMonitor and the Scan Job pod template are configurable.

It would be great if the `trivy-operator` pod's labels could also be configured.

[2022-08-28 06:53] #464 closed

[2022-08-29 08:47] anjmao commented on #462
@chen-keinan Yes, sorry, missed that.

[2022-08-30 13:31] anjmao commented on #462
Hi @chen-keinan Looked closer into fs implementation here https://github.com/aquasecurity/trivy/blob/main/pkg/fanal/artifact/local/fs.go#L115

Does this mean that there is only single cache key for the whole image? This looks less efficient since base layers most likely will not be cached (as there is no concept of layers in fs mode).

I was considering implementing it this way:
1. Mount /var/lib/

[2022-08-31 08:51] chen-keinan commented on #462
@anjmao you mean that point 1&2 to be implemented in `trivy-operator` and point 3 in `trivy`

[2022-08-31 09:51] anjmao commented on #462
Yes, 3 point of actual scan logic would be in `trivy`. Maybe it's worth to create separate issue for `trivy` repo if you think this could be useful scan mode?

Currently I'm working on POC for building OCI v1.Image from mounted volumes and inspecting layers using trivy analyzers.

[2022-08-31 10:54] chen-keinan commented on #462
@anjmao yes , I would suggest to open an issue at `trivy` repo to continue the discussion on it there

[2022-09-01 04:47] simar7 commented on #70
thanks for the feedback @chen-keinan - to continue the discussion, I've made a small PoC with the smallest of changes to try to make it work. There's a small test to demonstrate the working of the feature. It's a draft PR for now so we can iterate on it https://github.com/aquasecurity/trivy-operator/pull/476

[2022-09-01 07:57] nerzhul commented on #429
#466 fix the nodeSelector part

[2022-09-02 07:42] dinapappor opened #478 "Ability to read labels from pod/deployements being scanned and add to prometheus metrics"
In our clusters we have specific labels that we'd like to add to the metrics generated by `trivy-operator`.

Namely we'd like the ability to assign owner label to these metrics since trying to join these metrics with other metrics to get the owner is non-trivial.

IE, trivy scans doom pod/deployment, then reads owner label. Adds that to the metrics generated.

Let me know if you need more clarific

[2022-09-02 15:18] chen-keinan commented on #478
@dinapappor do you mean adding `custom fields` to finding metrics ?

[2022-09-05 09:08] dirien commented on #407
Hi @chen-keinan,

do you need any additional informations from me?

[2022-09-05 09:46] AnaisUrlichs opened #487 "Specify namespace in Helm Chart Values.yaml manifest different to {{ .Release.Namespace }}"
When installing Trivy as a Helm Chart dependency, I would like to set the `trivy-system` namespace in the Values.Yaml manifest.

Currently, the namespace is defined with `{{ .Release.Namespace }}` however, that will take the same namespace as the application/the main Chart in the Helm Chart, which reduces the flexibility to use the trivy-operator with other applications/processes.

Here are the ma

[2022-09-05 12:07] chen-keinan commented on #407
nope , sorry it is taking long time. I'm on it.

[2022-09-05 17:21] jonny-wg2 opened #488 "Prevent deployments if critical finding"
Hi I'm wondering if there is a way to prevent deployments if there is a critical vulnerability identified in pod xyz.

[2022-09-05 20:29] chen-keinan commented on #407
@dirien is the flag [useBuiltinRegoPolicies](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml#L245) on you env has been disabled?

[2022-09-06 06:29] chen-keinan commented on #488
its can be done with `admission controller` , it on our plans to add support to for it in `trivy-operator`

[2022-09-07 14:55] jonny-wg2 opened #490 "Whitelist CVE + Image name/regex"
Referencing https://github.com/aquasecurity/trivy-operator/discussions/489#discussioncomment-3566772

In short, it would be great to improve the ignore file to whitelist a CVE and say an image name or some type of regex. The problem with the current setup is that some systems we can't update and need to accept the risk but others we can do something about.

E.g.
CVE-XYZ123 registry.company.com/reg

[2022-09-08 13:07] SergeyBear commented on #359
Hi there!
Got the same problem with OOMKilled, but in my case, `scan-vulnerabilityreport-*` pod gets killed almost every time and each time it was during DB downloading process:
[code]
Pod eats 477M before gets killed. After increasing memory limit up to 1500M - OOMKilling was gone.
[code]
Also I noticed that each `scan-vulnerabilityreport-*` pod downloads complete DB, so 10 parallel scans (defaul

[2022-09-08 13:58] chen-keinan commented on #359
@SergeyBear this is the 1st time reported on OOM issue during download db.  its strange as the db is relatively small.

can you please share :
- how many scan job are running on the specific node that have OOM issue ?
- how much memory is define for that node ?

As a workaround I would suggest to move to [client/server](https://aquasecurity.github.io/trivy-operator/v0.1.9/vulnerability-scanning/tr

[2022-09-08 14:29] SergeyBear commented on #359
@chen-keinan
At the begining I used fresh minikube cluster with 3 cpus and 6 gigs of RAM, then deployed trivy-operator and dummy nodejs app on it and started to get OOMKilled, even when almost all 3 cores and 6 gigs was free.

Then I installed prometheus and loki stack to catch OOM, but there is still plenty of free resources:
[code]
It would be nice if someone with the same OOMKilled issue could

[2022-09-08 14:35] SergeyBear commented on #359
@chen-keinan sorry, forgot to mention - it appears even on single scan job.
After increasing trivy limits - OOM is gone and reports completed with no errors.
P.S. It is strange that downloading could bring OOM, but checked more than ten times - everytime on donwloading...

[2022-09-08 15:28] SergeyBear opened #492 "User cannot update resource secrets"
**What steps did you take and what happened:**

After deploying [manifest](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/static/trivy-operator.yaml) each vulnerability scan throws an error in trivy-operator logs:
[code]
**What did you expect to happen:**

No errors

**Anything else you would like to add:**

Error is fixed by patching RBAC:
[code]

**Environment:**

- Trivy-Operat

[2022-09-08 15:56] chen-keinan commented on #492
Currently No.
We are planning to add a flag to disable the access to secret globally, however, the downside of it is once a user disables its `vulnerability scan job` will not be able to download images from private registries via `imagePullSecret` on Pods/ServiceAccounts.

creative ideas are welcome here.

[2022-09-08 15:56] chen-keinan commented on #492
thanks for the update I will review the need of it.

[2022-09-08 15:57] erikgb commented on #492
Cluster-wide access to secrets is only required if using image pull secrets. Maybe add a Helm option around that? We don't use image pull secrets at all.

But I don't understand why update permission to secrets is required? When I looked at this a couple of months ago, it seemed like get and create was enough. 🤔

[2022-09-08 21:10] asprouse5 opened #493 "Cannot deploy operator in Kubernetes: CreateContainerConfigError"
**What steps did you take and what happened:**

I'm attempting to deploy the trivy operator to my kubernetes cluster. I ran

`kubectl apply -f https://raw.githubusercontent.com/aquasecurity/trivy-operator/v0.1.9/deploy/static/trivy-operator.yaml`

And the charts seem to have uploaded correctly. The pod however failed with CreateContainerConfigError:

_Error: container has runAsNonRoot and image ha

[2022-09-09 07:01] chen-keinan commented on #493
@asprouse5 The setting you mention is related to scan job  (the job trivy-operator trigger to scan vulnerabilities), if I understand correctly your problem is with `trivy-operator` pod and container  security context, I think you are looking for this params :

[podSecurityContext](https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml#L273)

[containerSecurityContext](htt

[2022-09-09 10:12] chen-keinan opened #494 "Control trivy-operator access to cluster wide secrets"
It is required to control via config the access to cluster wide secrets by `trivy-operator`

[2022-09-09 10:42] chen-keinan commented on #492
@SergeyBear thank you again for your input , after reviewing the current logic around secrets , I find that you are correct, the `update` verb is missing from `Secret` resource on `trivy-operator` role setting.

We lost it in the latest changes to `trivy-operator` roles, I'll add it back,  it will be included within our next release, next week.

[2022-09-09 11:16] SergeyBear commented on #492
@chen-keinan Glad to help! Thank you for your time and efforts!

P.S. Please close this issue if no further tracking is required.

[2022-09-09 11:19] chen-keinan commented on #492
I'll keep it open as I want to associate it to the fixing PR and then it will be automatically closed (once merged).

[2022-09-09 12:32] asprouse5 commented on #493
It was the value under podSecurityContext, thanks! I ran the following to update the deployment and all is working as expected.

`kubectl patch deployment -n trivy-system trivy-operator -p '{"spec": {"template": {"spec": {"securityContext": {"fsGroup": 1000, "runAsNonRoot": true, "runAsUser": 1000 }}}}}'`

I will be putting this and the original apply command together in a script for our users to

[2022-09-09 18:37] SergeyBear commented on #359
@chen-keinan
deployed trivy-server and set trivy-operator in ClientServer mode:
* with 500M memory limit  `scan-vulnerabilityreport-*` pod gets killed with empty logs
* with 1500M memory limit  `scan-vulnerabilityreport-*` pod completes fine; no DB update procedure performed
* enabling `OPERATOR_LOG_DEV_MODE` shows no `OOMKilled` in logs and `scan-vulnerabilityreport-*` is NOT getting killed even

[2022-09-09 20:58] jrhunger opened #495 "option to only record failed checks in CRD"
Stanzas like the following are generally not adding value.  They add noise that is hard to filter when reviewing manually. I assume they are also consuming storage in the cluster etcd.  It would be nice to have an option to only include failed checks.  A report that only includes failed checks would be very concise and easy to review/action.
[code]

[2022-09-10 08:11] chen-keinan commented on #495
Related #149

[2022-09-10 17:18] jrhunger commented on #495
@chen-keinan as the reporter of #149 can you clarify what you are asking for there?  Is that issue asking for the option to disable the creation of a VulnerabilityReport if it would not contain any vulnerabilities?

I think vulnerability and config audit reports currently work differently, and i'm basically asking for an option to make configauditreports work like vulnerabilityreports currently do

[2022-09-11 09:22] chen-keinan commented on #495
I understand what you mean.
Let's extend a little bit on that,  assuming all checks passed , would you expect to see an empty report (when the flag is on)?

[2022-09-11 13:59] jrhunger commented on #495
I would expect to see a report that matches the [spec](https://aquasecurity.github.io/trivy-operator/v0.1.9/crds/configaudit-report/), with all zeros in the summary section, and an empty checks section.  It would still also show up in the wide listing with zeros in each column.  Basically the way [vulnerabilityreports](https://aquasecurity.github.io/trivy-operator/v0.1.9/crds/vulnerability-report/

[2022-09-11 14:11] chen-keinan commented on #177
Closing is fixed by #468 @stone-z let me know if you still think issue is not solved

[2022-09-11 14:11] #177 closed

[2022-09-11 16:06] VF-mbrauer commented on #295
@chen-keinan any news on this one? Independent from any issue related to trivy-operator or trivy scanner, the job should be properly released and not get stuck for forever.

[2022-09-11 16:07] VF-mbrauer commented on #265
@josedonizetti Do you have any news on this one?

[2022-09-11 16:19] chen-keinan commented on #295
@VF-mbrauer you mention in the top that due to error #206 scan jobs getting stuck , I assume this is not the case now
 am I right?

[2022-09-11 16:24] VF-mbrauer commented on #295
@chen-keinan Yes that is correct. That has been fixed with compression and will be further slimmed where you are working in a split in CRDs and reduce unneccesary stuff.

But if in future there is some new issue which will block job, we should be prepared. And therefore this ticked here is still there.

[2022-09-11 16:35] chen-keinan commented on #295
today `trivy-operator` has already the logic which know to delete jobs on completion (and report has been processed) or failure , the case where a scan has been completed but `trivy-operator` is unable to process a report example: #206 ,should be fixed as reported  immediately , by passing it as a generic solution would lead to data lose , wdyt ?

[2022-09-11 21:49] FelixKampfer opened #500 "Allow configuration of trivy-operator pod priorityClassName"
Hi, I need to be able to manage scheduling priority in my cluster. It would be great if the `priorityClassName` of the operator pod could be made configurable.

[2022-09-12 07:01] #500 closed

[2022-09-12 07:15] chen-keinan commented on #493
@asprouse5 can we close this issue or you want to keep it open ?

[2022-09-13 05:48] #492 closed

[2022-09-13 06:47] #70 closed

[2022-09-13 07:15] #387 closed

[2022-09-13 07:16] chen-keinan commented on #407
@dirien any update ?

[2022-09-13 14:34] knqyf263 commented on #359
Which version are you guys using? Did anybody try v0.31.3? We added some improvements in v0.30.1.

[2022-09-13 15:04] SergeyBear commented on #359
@knqyf263 I'm using trivy-operator 0.1.9 that uses trivy 0.30.0 image

[2022-09-13 20:13] jrhunger opened #509 "container-images annotation applied to wrong job"
**What steps did you take and what happened:**
Running trivy-operator in multiple clusters.  Some (not all, and fewer in 0.1.9 than on 0.1.4) CronJobs get the annotation mixed up on the corresponding trivy scanning job.  When this happens, the trivy-operator pod repeatedly outputs messages like this:
[code]
and does not clean up the scanning job.  With enough jobs in this state (like in #295), sca

[2022-09-14 18:17] chen-keinan opened #513 "update trivy version to v0.31.3"
update trivy version to v0.31.3

[2022-09-14 18:31] #513 closed

[2022-09-14 18:40] chen-keinan commented on #359
@SergeyBear I have upgraded trivy version to 0.31.3  to be release with next `trivy-operator` version
Related #514

[2022-09-14 18:57] chen-keinan opened #516 "CVE-2022-27664 - golang.org/x/net package found"
[code]

[2022-09-15 05:05] #516 closed

[2022-09-15 06:21] chen-keinan commented on #509
@jrhunger thank you for reporting this issue , I will try to reproduce it.

[2022-09-15 06:54] dirien commented on #407
hi @chen-keinan,

sorry for the late reply, this is my values.yaml. I disabled useBuiltinRegoPolicies

[code]

[2022-09-15 07:03] chen-keinan commented on #407
this is the problem , two option to solve it :
-  in `trivy-operator-v0.1.9` version,  enable `useBuiltinRegoPolicies` and the error will disappear.
- wait for next `trivy-operator-v0.2.0` (issue is fixed)

[2022-09-15 08:47] #407 closed

[2022-09-15 08:47] #391 closed

[2022-09-15 09:30] LucasVanHaaren commented on #359
Hello there,

I think I experienced the same issue, pretty much all of the scan-vulerabilityreport failed but after downloading DB.
I can't get any container logs.

:information_source: I have installed trivy-operator helm chart v0.1.9 in Standalone mode, with default resources definition.

See the trivy-operator logs here :
[code]

[2022-09-15 09:40] chen-keinan commented on #359
@LucasVanHaaren you can try overriding :
[code]

[2022-09-15 09:45] dirien commented on #407
Thanks @chen-keinan, will test this!

[2022-09-15 12:31] LucasVanHaaren commented on #359
Thanks for your response !

I just tried to upgrade to trivy:0.31.3 image and scan-vulnerabilityreport still be OOMKilled ...
I also tried to increase memory limits to 1GiB and it's the same, nothing change.

Can it be possibly a too small nodes issue ?
I ran a managed cluster with 2 worker nodes with 4CPU and 14GiB memory each. it host not many apps and seems not overwhelmed.

[2022-09-15 12:53] chen-keinan commented on #359
it could be , it is depend on the amount of workload running on you node.
you need to check the  `limit.memory` sum of all of your workloads ,it must not exceed Node memory.
**Note**: that `trivy-operator` by default can produce up to 10 (configurable) scanJobs on parallel , so its needs to be taken under consideration as well

[2022-09-15 17:10] evgkrsk opened #522 "Please break trivy.imageRef into separate pieces"
To fetch scanner image from private mirror, now we have to override trivy.imageRef with full path with registry, repository and image tag. As a consequence, scanner image will be hardcoded and won't update during helm release updating, unlike trivy-operator's image, that have separate image tag option in values.yaml. Now we have to manually update trivy scanner image reference.

Could you separate

[2022-09-15 18:39] SergeyBear commented on #359
1 gig limit is too low. I managed to get rid of OOMKilled only with 1.5 gig memory limit, if you have enough free memory in cluster of course

[2022-09-15 18:41] SergeyBear commented on #359
also try to reduce number of parallel scan jobs in operator

[2022-09-16 12:46] LucasVanHaaren commented on #359
@chen-keinan After checking it, I confirm that the sum of the memory limits exceeds the amount of memory of the node.

@SergeyBear Thanks for the tips, I will try it soon with 1.5GiB mem limit and with only 2 parallel scan jobs, because cluster reliability is much important than the speed of image scanning !

I will also use a trivy server instance to avoid downloading db every time, maybe this wi

[2022-09-16 15:43] dirien commented on #522
Hi @evgkrsk,

we have the the same "pain" as you. In my company we have a private registry. So when we update the operator via the helm chart, we needed to check the original `trivy.imageRef` to see if the tag changed too.

Now I split the `trivy.imageRef` into `trivy.repository` and `trivy.tag`

@chen-keinan, let me know if this is okay? or you prefer:

[code]

Or as @evgkrsk suggested `registry`

[2022-09-16 18:57] dirien commented on #487
Added the functionality to the Helm chart. Looking for your feedback.

[2022-09-16 19:07] tks98 commented on #265
This was also very similar to my issue. I modified the operator to allow me to choose which workload resources to scan and it has been working well to alleviate things. I opened a PR linked above in case more folks have this same use-case.

[2022-09-17 16:53] dirien opened #526 "Missing namespace for custom config policies"
**What steps did you take and what happened:**

Acording to the documentation, you need to add all custom policies to `trivyoperator.policy.k8s.custom`

Unfortunatly, the `policy-namespaces` is missing, when the `rego` scanner gets called from the operator.

Will create an PR.

**Environment:**

- Trivy-Operator version (use `trivy-operator version`): 0.2.0
- Kubernetes version (use `kubectl versi

[2022-09-18 07:15] chen-keinan commented on #522
@evgkrsk @dirien sound like a legitimate requirement.
I'm adding it to backlog , you can pick it up if you want or I can get to it later.

[2022-09-18 07:55] dirien commented on #522
Hi @chen-keinan,

thanks! Here is the PR https://github.com/aquasecurity/trivy-operator/pull/524

[2022-09-18 09:10] chen-keinan opened #528 "fix vulnerability : CVE-2022-36085"
[code]

[2022-09-18 09:21] chen-keinan opened #530 "fix vulnerability CVE-2022-27664"
[code]

[2022-09-18 12:34] #528 closed

[2022-09-18 12:53] #530 closed

[2022-09-18 14:38] #522 closed

[2022-09-19 13:06] #526 closed

[2022-09-20 10:06] itaysk commented on #141
we're still working on supporting CIS benchmark checks to Trivy (CLI), which is tracked here: https://github.com/aquasecurity/trivy/issues/2198

[2022-09-20 20:05] stone-z commented on #177
I think there is still a piece missing here, which is that the Score and Severity reported by default are still from two different sources.
[code]

If Trivy-operator reports the redhat severity, then it should also report the redhat score.

When time allows I will look into implementing this, unless someone gets there first.

[2022-09-21 05:41] chen-keinan commented on #177
@stone-z thanks yoyu for this feedback , I will review this issue as well

[2022-09-21 12:32] chen-keinan opened #539 "score column is missing fro vulnerability details"
score column is missing from vulnerability details :

version 0.1.9 :
[code]

version 0.2.0 :
[code]

[2022-09-21 14:39] adrianmarcu18 opened #541 "Add package type in vulnerability report"
Currently the vulnerability report doesn't include information about the package type (rpm,apt, java, npm etc.).
Would be useful to filter out vulnerabilities based on the package type. Did not see anything in the documentation related to this.

[2022-09-21 19:51] dinapappor commented on #478
Adding labels to the generated metrics which are generated by labels that the scanned pod/deployment/replicaset has.

For instance.

trivy scans pod-a with a label called owner with value team-a. It then adds it to the metric of that pod

[2022-09-22 07:49] dinapappor commented on #478
For instance if I specify:

if pod/deployment has

[code]

I'd like to have them here:
[code]
`k8s_label_*` can ofcourse be something else, but the key takeaway is that it should be configurable .

[2022-09-22 08:32] chen-keinan commented on #478
sound reasonable , Adding it to backlog  , you can pick up this issue and raise a PR if you want or we will get to it later

[2022-09-23 11:31] #356 closed

[2022-09-25 13:47] #487 closed

[2022-09-26 05:46] ledroide opened #549 "Reconciler error "bzip2 data invalid: bad magic value" and no vulnerabilityreports"
**What steps did you take and what happened:**

For one of my clusters, and only this one (same configuration and version everywhere), there is no vulnerabilityreport over the whole cluster.

I find may lines that mention a `Reconciler error ; bzip2 data invalid: bad magic value` in logs from trivy operator v0.2.1.
I have tried upgrading trivy-operator : it is not fixed in v0.3.0
[code]

Maybe the

[2022-09-26 09:45] SergeyBear commented on #359
Just checked latest trivy-operator 0.3.0 on fresh minikube cluster (3 cpu 6gb ram) with only installed sealed-secrets and trivy-server - still gets OOMKilled with default memory 500M limit and OPERATOR_CONCURRENT_SCAN_JOBS_LIMIT set to 1. Increasing memory limit to 1500M and OOMKilled goes away. Probably there is some short spike in memory consumption

[2022-09-26 09:45] chen-keinan commented on #549
@ledroide thank you for reporting this issue. I'll explain what could cause this error:
when `vulnerability scan job` is completed it compress the output of the report to `bz2` to make it smaller for `trivy-operator` to stream it.

Could be that your `vulnerability scan job` output is not compressed (maybe old output , plain JSON) and therefore when `trivy-operator` tried to read it it fails.

can

[2022-09-26 09:50] chen-keinan commented on #359
thanks for the update , its still on out radar

[2022-09-26 10:15] ledroide commented on #549
@chen-keinan thanks for your answer. Here is what you have asked for.
[code]
Logs for these pods are fully base64 encoded :
[code]
Note that there is a warning at first, that says `Defaulted container "v2-ui" out of: v2-ui, nginx-exporter, 948e044...`.
It is related to the pod that this scan had picked in its args, and the original deployment contains the following annotation that defines the defa

[2022-09-26 10:25] chen-keinan commented on #549
Yes , The 1st line `Defaulted container "v2-ui" out of: v2-ui, nginx-exporter, 948e0443-b4b5-4617-a065-6d575d45ddc6 (init)` cause he problem as its not part of the output (vulnerability report ) and not compressed , therefore `trivy-operator` tries to `bz2` decompress it and fails

[2022-09-26 11:26] ledroide commented on #549
Nevertheless, this annotation is legit and even recommended, and [documented in Kubernetes](https://kubernetes.io/docs/reference/labels-annotations-taints/#kubectl-kubernetes-io-default-container). Lots of our deployments contain this annotation, every time a pod embeds more than one container.

[2022-09-26 11:55] chen-keinan commented on #549
@ledroide I see , let's keep this issue open , I want to investigate it and see if I can workaround it.

[2022-09-26 20:00] chen-keinan commented on #549
@ledroide not sure its related to annotation (kubectl.kubernetes.io/default-container: v2-ui).
 Could you please run another command on the same pod with specific container name and put here the output (for both container) , I want to make sure output it not corrupted :
- `kubectl logs scan-vulnerabilityreport-7457767589-hbnwp v2-ui`
-`kubectl logs scan-vulnerabilityreport-7457767589-hbnwp nginx-e

[2022-09-27 07:10] ledroide commented on #549
@chen-keinan : The first container's logs show an empty line at the beginning. The second one does not. There is nothing interresting to see at the end of the logs - it's base64 encoded.
[code]

Extra info :
[code]
I have checked the other pods like scan-vulnerabilityreport-xxxxx : they all mention these 3 containers beginning with v2-ui and nginx-exporter + scan container

Hope it helps.

[2022-09-27 07:44] chen-keinan commented on #549
@ledroide thanks for this input , the last container is the init container (where we download the vulndb)
can you please check another thing run the following and just let me know if you got a JSON report without error :

`kubectl logs scan-vulnerabilityreport-7457767589-hbnwp v2-ui | base64 --decode | bzip2 -d`

`kubectl logs scan-vulnerabilityreport-7457767589-hbnwp nginx-exporter | base64 --dec

[2022-09-28 08:50] ledroide commented on #549
Issue is solved, however hard to explain.
I have added this variable to ConfigMap/trivy-operator-trivy-config :
[code]
On the other hand, this variable is supposed to be useless since trivy-operator v0.3.0 - that uses instead these variables :
[code]
Using all 3 variables works for me. I will investigate later.

[2022-09-28 09:12] chen-keinan commented on #549
@ledroide do you want to keep this issue open ?

[2022-09-28 09:13] #549 closed

[2022-09-28 11:17] #429 closed

[2022-09-29 07:51] chen-keinan commented on #509
@jrhunger I have tried to reproduce it (using your example) on latest operator. `v0.3.0` with no luck , any other info can be provided to help reproducing ?

[2022-09-29 20:46] jrhunger commented on #509
@chen-keinan Thank you for trying.  This project moves quickly. When i opened this issue we had just tested it on the latest available 0.1.9.
Let me try it on 0.3.0 and see if i still see the issue.

[2022-10-01 14:56] nthienan commented on #193
Interesting. Looking forward to seeing the dashboard released soon.

[2022-10-02 11:28] j1nka opened #556 "Use of ns secrets to authenticate in private repos"
Hello!

At the moment `Trivy` using `imagePullSecrets` to authenticate in private repos for image scanning. In my environment there are no imagePullSecrets, because credentials are already placed in my container runtime. That's why `Trivy` cannot scan images from my private repo.

I thought that it would be great to add one more parameter, something like `privateRegistryScanSecretsNames`. This par

[2022-10-03 14:10] MatthieuFin opened #558 "podLabels in helm chart broken"
**What steps did you take and what happened:**
I would like use helm chart value "operator.podLabels" to specify some custom labels on the operator pods. But labels set in this values are push in helm deployement template under ".spec.selector.matchLabels" instead of ".spec.template.metadata.labels"

**What did you expect to happen:**
I expect that labels provided in user values "operator.labels"

[2022-10-04 09:48] #556 closed

[2022-10-04 09:49] #558 closed

[2022-10-05 14:27] MatthieuFin opened #562 "Add metrics about CVE vulnerability ID"
Currently operator exposed metrics about VulnerabilityReport.
That's a good thing, but there is nothing about CVE.

I propose to add metrics `trivy_vulnerability_id` which is a sensibly the same as current `trivy_image_vulnerabilities` but with the label `vuln_id` which permit to build dashboard focused en CVE, and made simple prometheus queries to search specific CVE in whole cluster.

In the pas

[2022-10-05 14:46] MatthieuFin commented on #562
FYI, this is an example of grafana dashbord modification available with this feature, which run on one of our test purpose cluster with a lot vulnerabilities:
![2022-10-05_16-41](https://user-images.githubusercontent.com/4145084/194090097-71a4e084-91c1-4a66-bd70-984781bf325e.png)

[2022-10-05 14:58] JAORMX commented on #562
While that looks quite useful, it seems to me like it would greatly explode the cardinality of metrics. While this would work well in a small demo or a small cluster with a couple of images, this would be quite problematic in bigger clusters.

[2022-10-06 17:51] #562 closed

[2022-10-06 18:42] fardin01 commented on #478
I would like to vote for this feature as well. Also, it'd be very useful to add the workload's labels and annotations to VulnerabilityReport object (using a flag of course).

We have a custom operator that creates Jira tickets for the vulnerabilities. For each VulnerabilityReport, we need to look up its corresponding deployment/daemonset etc. to find the `owner` tag, so the proposed feature would

[2022-10-06 18:54] fardin01 opened #564 "Include the scanned layer in the report"
Trivy can report vulnerabilities based on the layer: package, OS, secret etc. It would be very helpful to add the layer to the CRD/reports.

[2022-10-06 19:22] #494 closed

[2022-10-09 19:17] jfcoz opened #568 "Use same labels value case"
**What steps did you take and what happened:**

When using new metrics from https://github.com/aquasecurity/trivy-operator/issues/562,
- I get theses label values `trivy_vulnerability_id` severity: `CRITICAL`, `HIGH`…
- whereas on `trivy_image_vulnerabilities` I get `Critical`, `High`…

**What did you expect to happen:**

Same case for all label values

[2022-10-09 19:42] erikgb commented on #101
No, at least not for us. As Openshift SCC does not allow an unprivileged user to run containers as the root user, ref.:

https://github.com/aquasecurity/trivy-operator/blob/5b9498d9d9fe186fb4861e69b161c9af87d61b38/deploy/helm/values.yaml#L161-L162

[2022-10-10 06:22] JAORMX commented on #101
@erikgb trivy-operator should anyways not run with the `restricted` SCC, it should use at least `anyuid`. If it's running with a low privileged SCC it should be fixed in the OLM packaging.

[2022-10-10 06:50] erikgb commented on #101
But it is not the operator that is the problem, but the jobs it schedules.

[2022-10-10 06:57] JAORMX commented on #101
@erikgb I see... well, adding the needed annotation to schedule them with a higher privilege SCC shouldn't be too problematic. But, either way, permissions to use that SCC would need to be added to the packaging though (it's an RBAC rule).

[2022-10-10 17:20] jrhunger opened #573 "user should be specified numerically in Dockerfile"
[currently](https://github.com/aquasecurity/trivy-operator/blob/5b9498d9d9fe186fb4861e69b161c9af87d61b38/build/trivy-operator/Dockerfile#L7) specified by username.

When i deploy in my AKS cluster, i get the following error
[code]

I think it can be worked around on my deploy-side by adding a RunAsUser to the securityContext, but with this simple one-line change that would not be needed.

USER tri

[2022-10-10 19:14] chen-keinan commented on #568
@jfcoz this fix has not been released officially yet, have you tested it on the RC version ?

[2022-10-10 19:25] jfcoz commented on #568
Yes, I've tested it

[2022-10-10 19:30] chen-keinan commented on #568
Thanks for the update , I'll check it out.

[2022-10-10 19:41] MatthieuFin commented on #568
Hi,
I have work on it by adding a type `SeverityLabel` on overlap Severity Labels case. And i have setup some unit tests on these feature specifically.

[2022-10-11 09:31] renuka-sharma commented on #478
It would indeed be helpful to add the workload's labels  in the CRDs. I too vote for this feature

[2022-10-11 09:43] verdel opened #575 "Pod imagePullSecrets priority"
Within our organization, we use quay to store docker images of services and to proxy requests to hub.docker.com.

A secret with user credentials is replicated to each namespace. This user has the right to send proxied requests.
This secret is specified as `imagePullSecret` in the `default` service account

In the same namespace, a Pod can be deployed, the image of which is placed in our private qu

[2022-10-11 10:02] chen-keinan commented on #575
@verdel thank you for this insight . so following to your req. the priority should be :
- imagePullSecret from service account
- imagePullSecret from pod spec
- other

[2022-10-11 10:06] verdel commented on #575
imagePullSecrets, which is directly specified in the Pod specification, has the highest priority.

If this value is not specified in the Pod specification, the Admission Controller will write the imagePullSecret name specified in the Service Account to it.

[2022-10-11 12:50] #575 closed

[2022-10-11 13:03] #568 closed

[2022-10-11 18:49] jrhunger commented on #509
I have been able to replicate this now on AKS 1.23.8 as well as our on-prem kubeadm-generated 1.23.5 and 1.24.3.  I enabled logDevMode but haven't found anything relevant in the output yet. One thing that is different between versions i think has to do with the first bug fixed in [1.24.4](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#changelog-since-v1243).  On 1

[2022-10-12 06:09] chen-keinan commented on #509
@jrhunger thanks for this info, I will try it out.

[2022-10-12 06:28] zeroalphat opened #577 "Specify option to scan container images"
I want to make it possible to specify arbitrary options that Trivy uses to scan container images.
As an example, a security management product "yamory" I use requires package information in a scan result.
So, I need to set --list-all-pkgs option when Trivy scans.
This feature would help with the integration of various products.

https://yamory.io/ ( I'm sorry to say this site is available in Japan

[2022-10-12 13:59] jfcoz commented on #97
This kind of operator metrics could be very useful, for example information about failed jobs, for example :
- I currently get a registry access denied in the logs, but via the current metrics I do not see that a scan is missing.
- I also have this kind of blocked jobs : https://github.com/aquasecurity/trivy-operator/issues/295 . Maybe some metrics about jobs exceeding TTL ?

[2022-10-13 13:52] LucasVanHaaren commented on #193
Hello,

Any news about it ? Is someone working on it right now ?

[2022-10-13 18:38] kfox1111 opened #585 "Skip workload by label"
Some workload is very transient. For example, gitlab jobs. It would be good to be able to specify label selectors to skip scanning. Otherwise its going to do a lot of extra work.

As a workaround, gitlab runners launch bare pods. Using https://github.com/aquasecurity/trivy-operator/pull/523
excluding just the raw 'pod' workload type seems to work around the issue.

[2022-10-14 07:05] weibeld commented on #488
@chen-keinan Is there any timeline for adding the admission control feature?

For now, the most viable option for running Trivy in an admission controller seems to be [devopstales/trivy-operator](https://github.com/devopstales/trivy-operator). I hope similar functionality will be provided by Trivy Operator soon.

[2022-10-14 14:22] chen-keinan commented on #488
@weibeld no specific timeline , we know that it something we want to have along with other things , we are happy to get contribution from the community for it if not, we will pick it up.

[2022-10-18 07:24] krep-dr opened #591 "unexpected EOF"
**What steps did you take and what happened:**
I'm getting a quite a lot of reconciler errors in the trivy-operator log. When the error occurs the scan-vulnerability job has a Completed status but is never cleaned up and no vulnerability report is created. I don't think it is related to the image since a rerun sometimes works.

Thanks.

[code]

**Anything else you would like to add:**

Might be th

[2022-10-18 08:40] chen-keinan commented on #591
@krep-dr Is this happen  after upgrading to version 0.3.0 ?

[2022-10-18 09:38] genofire commented on #409
For that we use the workaround to deploy an own ServiceAccount with imagePullSecrets. That works for the scan-jobs itself.

But sadly it does not support for the trivy.dbRepository - is the scan-job use docker-in-docker?
That was solved for the to scanned-image in (TODO-filling).

[2022-10-18 11:08] schnatterer commented on #193
My colleague @pmarkiewka and I created a first version of a trivy op dashboard similar to the devopstales one:
![image](https://user-images.githubusercontent.com/1824962/196412446-2a3d4dfd-494a-4c2e-8089-3335f8657283.png)
Uploading with Grafana failed, so for now the source can be found [in this gist](https://gist.github.com/schnatterer/a88a2d35436662cfb7d29dec6058c4d2).

We're still struggling wi

[2022-10-18 12:37] krep-dr commented on #591
It is a clean install. I have not used the trivy-operator before version 0.3.0
Not all jobs are affected but I have not been able to see a pattern.

[2022-10-18 13:40] chen-keinan commented on #591
@krep-dr we compress(bzip) and encode(base64) scan job output.
can you please try to delete the scan jobs (with issue) and restart `trivy-operator`

[2022-10-18 15:26] pschulten opened #592 "stat /bin/sh: no such file or directory"
**What steps did you take and what happened:**
Installed with:
[code]

deployed a workload, that has a shell:
trivy-operator works as expected:
[code]

changed the image to a `from scratch` + statically linked go binary:
trivy-operator errors with:
[code]

**What did you expect to happen:**
proper scanning of my workload

**Anything else you would like to add:**
Used docs from https://aquasecurity

[2022-10-18 17:59] chen-keinan commented on #592
@pschulten can you elaborate on this `changed the image to a from scratch + statically linked go binary` I assume its not related to `rc` version

[2022-10-18 19:16] chen-keinan commented on #591
yes , look like scan didn't completed successfully  are you using `regular` (image) scan or `filesystem` scan ?

[2022-10-18 19:17] pschulten commented on #592
thank you for your prompt answer!
changing my deployment with:
[code]
fails with the reported error like
[code]
---
[code]
works fine

---
[code]

is even more weird:
[code]

[2022-10-19 06:45] #592 closed

[2022-10-19 06:57] chen-keinan commented on #592
@pschulten I'm creating `v0.4.0-rc3` with a fix , you can pick it up when its ready

[2022-10-19 06:58] krep-dr commented on #591
I'm using the regular scan
[code]

[2022-10-19 07:55] pschulten commented on #592
@chen-keinan I already built an image from your PR and it partially works (big 🙏 )

`k8s.gcr.io/defaultbackend:1.4` and `nginx` work fine now, but my image now fails with:
[code]

should I open another issue for this?

[2022-10-19 07:57] chen-keinan commented on #592
yes , please do and add details (I'll try to reproduce it)

[2022-10-19 08:02] pschulten opened #597 "open trivy.yaml: permission denied"
**What steps did you take and what happened:**
same as described in https://github.com/aquasecurity/trivy-operator/issues/592

**What did you expect to happen:**
no error

**Anything else you would like to add:**
my image is like:
[code]

**Environment:**

- Trivy-Operator version: v0.4.0-rc3
- Kubernetes version: 1.23

[2022-10-19 10:21] pschulten commented on #597
sorry :( not a bug. I had set the permissions too tight:
[code]

[2022-10-19 10:21] #597 closed

[2022-10-19 11:02] krep-dr commented on #591
After triggering the scanner job manually in Kubernetes with args `trivy image 'org/lyd-web:9237f8f48ae68b660f2a2d2f98ffc2ee3353c60d' --security-checks vuln --cache-dir /tmp/trivy/.cache --quiet --skip-update --format json` I can see the scan result is missing some data. It looks like the output is cut off which results in an invalid json. After rerunning the job multiple times it suddenly started

[2022-10-19 11:45] chen-keinan commented on #591
@krep-dr lets keep this issue open and track this issue

[2022-10-19 13:02] #564 closed

[2022-10-19 14:31] chen-keinan opened #602 "Add rbac policies"
Add list of rbac policies to builtin policies doc

[2022-10-19 14:34] #602 closed

[2022-10-19 19:01] LucasVanHaaren commented on #193
Awesome news @schnatterer !

I will try your dashboard and take a look for alerting for new CVE ASAP

[2022-10-20 07:25] philippn commented on #118
+1 for scanning images by digest.

[2022-10-20 13:30] pschulten commented on #193
It would be super cool if it would be implemented as a [mixin](https://monitoring.mixins.dev/) so users can customize it easily and add the library to their existing workflows.

[2022-10-20 15:50] komljen commented on #237
I also think the var name `vulnerabilityScannerScanOnlyCurrentRevisions` is misleading.
I was expecting not to see new reports for old replica sets that are not active.

I have a few days old replica set, but I see vulnerability scans for all of them, and the reports themselves are 1hr old.

[2022-10-20 16:14] chen-keinan commented on #237
@komljen in the prev. version of `trivy-operator` , `vulnerabilityScannerScanOnlyCurrentRevisions` and `TTL` has been  enabled by default , you should not see reports older then 1 day

[2022-10-20 16:21] komljen commented on #237
I don't see old reports, but those reports scan for images in the old replica sets which are not active anymore.
So, unless I remove the old replica set I would still see the vulnerability reported, even though the image from the old replica sets are no longer running.

[2022-10-20 16:24] komljen commented on #237
If I have those 3 replica sets:
[code]

Only the last one has active/running containers. But the scanner will check for all of those. And currently, there isn't an option to run a scan only on the latest one.

[2022-10-20 16:26] chen-keinan commented on #237
Which trivy-operator version are you using?
Did you set `vulnerabilityScannerScanOnlyCurrentRevisions` to false ?

[2022-10-20 16:29] chen-keinan commented on #237
can you find me on slack , I'll explain better

On Thu, Oct 20, 2022, 7:24 PM Alen Komljen ***@***.***> wrote:

[2022-10-20 16:32] chen-keinan commented on #237
I see , you are using starboard not trivy-operator

[2022-10-20 16:33] komljen commented on #237
What is the difference?
Cannot join slack, it reports a server error. Will try again later.

[2022-10-20 16:39] chen-keinan commented on #237
These is a huge different between `starboard` to `trivy-operator` , as I mention in trivy-operator you should not see this issue , starboard is in maintenance mode in last six months , no improvments or advance features

[2022-10-20 16:41] komljen commented on #237
I see, I will try replacing it with trivy operator and post here for results.
Thanks so much for the quick answers.

[2022-10-21 12:22] krep-dr commented on #591
@chen-keinan Adding a `sleep 10` to the arg list for the scanner pod seems to fix the problem.
[code]
Based on that observation, a theory could be that adding a sleep ensures enough time for the full report to be outputted before the pod terminates? Maybe a buffer that needs to be flushed

[2022-10-21 15:59] chen-keinan commented on #591
@krep-dr thanks for checkin it out.
 note : `trivy-operator` initiate the [scan-job deletion](https://github.com/aquasecurity/trivy-operator/blob/30fa9af5d0f9c10760d467492a8dcd17ba6b876a/pkg/vulnerabilityreport/controller.go#L455) after logs are parsed

[2022-10-25 03:37] dinapappor commented on #478
@chen-keinan Seems https://github.com/aquasecurity/trivy-operator/pull/612 does exactly what we'd like to do. We locally compiled it and ran it on our env and it works.

[2022-10-25 08:47] chen-keinan opened #617 "configure trivy output uncompressed"
Add a flag which control if to compress trivy output logs or no not. default will be compressed for compatibility

[2022-10-26 07:33] #402 closed

[2022-10-26 08:23] #393 closed

[2022-10-26 09:55] LucasVanHaaren opened #620 "Failed scan-vulnerabilityreport Job : read-only filesystem"
Hello everybody, I just experienced an issue with trivy-operator :

**What steps did you take and what happened:**

After installing **trivy-operator** (in client/server mode), all the images in my cluster are scanned.
But 2 of these images constantly create an error in **trivy-operator**.
The error message evokes a temporary file writing problem but this is not clear to me, here is the error in t

[2022-10-26 11:05] chen-keinan commented on #620
@LucasVanHaaren thanks for reporting , we will check it out.

[2022-10-26 12:41] LucasVanHaaren commented on #620
I just tested to run trivy image (and fs) scans from my host system instead of k8s cluster and trivy successfully scanned the same image.

**NB:** I tested both standalone `trivy v0.33.0` on my host system and ser `trivy server v0.30.4`.

[2022-10-26 14:35] jicunningham opened #621 "Missing ClusterComplianceReport"
**What steps did you take and what happened:**
Install via helm
[A clear and concise description of what the bug is, and what commands you ran.]
After I noticed the trivy pod had restarted several times, I checked the logs and found these lines:
`
{"level":"error","ts":1666794056.989362,"logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind

[2022-10-26 14:56] chen-keinan commented on #621
@jicunningham thanks for reporting , is this fresh install or upgrade (from starboard)?  its really weird  as we removed `ClusterComplianceReport` from `trivy-operator` from the beginning

[2022-10-26 15:02] chen-keinan commented on #621
@jicunningham thanks will remove it for now
 btw : we are woking these days to introduce it back , so keep watching our repo.

[2022-10-26 20:53] jrhunger commented on #492
I found this issue after seeing a bunch of *-regcred secrets in my trivy-system namespace.  If i understand correctly, i think this update permission is only needed in the trivy-system namespace (for creating these copies of the pull secrets from other namespaces), not the cluster as a whole?

[2022-10-27 06:26] chen-keinan commented on #492
@jrhunger only if the scanJob is running in `trivy-system` namespace.
 `trivy-operator` also support  a feature where ScanJobs can run in same namespace of the resource (not `trivy-system`)

[2022-10-27 07:58] chen-keinan commented on #620
@LucasVanHaaren I see where the problem is.

 When trivy scan large files it saving it  into `/tmp` folder (to avoid loading it to memory) for analysis purposes.

Trivy-operator in `client /server` mode do not mount `/tmp` folder  in `scanjob` container.
I'll create a PR with a fix for next release

[2022-10-27 08:41] #237 closed

[2022-10-27 08:42] #621 closed

[2022-10-27 09:31] #620 closed

[2022-10-27 10:11] jrhunger commented on #492
@chen-keinan true, but in that case it should be able to use the original pull secret and not make a copy.

[2022-10-27 10:23] chen-keinan commented on #492
definitely we can review this approach , I've  just describe how the code works today.

[2022-10-28 10:38] #478 closed

[2022-10-28 10:39] #617 closed

[2022-10-28 11:03] chen-keinan commented on #591
@krep-dr I would suggest to try it again with with `trivy-operator v0.5.0-rc` using the flag :`scanJobCompressLogs:false`

[2022-10-28 12:06] LucasVanHaaren commented on #620
Nice ! Thank you so much for your efficiency @chen-keinan :smiley:

[2022-10-28 13:20] chen-keinan commented on #409
@zhenfangwg2 it will be the user responsibility to put the secret in `trivy-system` namespace , I assume , this is what you had in mind ?

[2022-10-30 12:09] #225 closed

[2022-10-31 00:43] philippn opened #632 "High memory requirements when Pod contains many containers"
**What steps did you take and what happened:**

In our cluster we are using the Elasticsearch on Kubernetes (ECK) operator. When deploying a Elasticsearch cluster using it, it will spawn a Pod with no less than 5 (!) containers. Because of #359, we had to increase the memory to 1500M. Now this adds up to an overall memory requirement of a whopping 7,5 Gig for the scan job, because the scan job see

[2022-10-31 04:49] amansharif opened #633 "Ability to pass image pulling secrets/credentials to trivy operator container to pull trivy image from private repository"
**Feature request:** Ability to pass image pull secrets to trivy operator for pulling trivy image to run the vulnerability scan jobs.

**Description:** Currently we can pass image pull secrets to trivy-operator image but there's no capability to pass image pull secrets for trivy image as well. As trivy operator manages the scan jobs and takes care of pulling trivy image, we need some mechanism to

[2022-10-31 08:30] chen-keinan commented on #478
@dinapappor this feature it out with latest `trivy-operator v0.5.0`

[2022-10-31 09:38] philippn commented on #632
Another possible solution that came to mind is to assemble the scan job as a bunch of init containers. Because init containers are executed sequentially, this should also solve the problem.

[2022-10-31 09:54] chen-keinan commented on #633
@amansharif I think this the PR#628 to solve it and associated issue #409 .

[2022-10-31 09:58] chen-keinan commented on #632
@philippn have you consider running `trivy-operator` in client/server (as in client server mod we do not call init container) mode also together with #416  should solve you issue

[2022-10-31 10:34] philippn commented on #632
Hello @chen-keinan ,
thanks for your quick reply. No, I haven't considered this yet (hadn't heard about this yet), but from the looks of it it might indeed solve the issue.

[2022-10-31 12:35] philippn commented on #632
@chen-keinan  Just a quick heads up: I have now deployed a trivy server using this [Helm chart](https://github.com/aquasecurity/trivy/tree/main/helm/trivy). After doing so I could reduce the memory limits to 1000M without running into OOMKilled errors, while 500M still brings up OOMKilled errors . Previously I needed 1500M as per #359.

So overall it improved the situation somewhat, at least for m

[2022-10-31 12:42] chen-keinan commented on #632
@philippn thanks for the update.  it is ongoing effort for us to reduce the memory footprint.

[2022-10-31 12:52] amansharif commented on #633
Yeah. looks like that. I will try out once it's merged. Thank you.

[2022-10-31 13:56] #409 closed

[2022-10-31 13:56] #632 closed

[2022-11-01 07:49] SecretMineDE commented on #409
Does this also apply to the trivy dbRepository? I'd like to host the dbRepository in a private repository with authentification.

[2022-11-01 12:44] dinapappor commented on #478
Yup, deployed it and it is working perfectly. @hlastras and @chen-keinan thank you. :heart:

[2022-11-01 14:11] amansharif commented on #633
Hi @chen-keinan it seems the PR #628 and #409 has been merged. However, when I tried with the latest helm chart and trivy-operator image (i.e. 0.5.0), it did not work and I could not find imagePullSecret field in scan jobs manifests. Later I checked the release notes  and found that those PRs were not there in the latest release i.e. 0.5.0. May I ask  when those PRs/features will be released ?

[2022-11-01 14:19] chen-keinan commented on #633
@amansharif the PR has been merged after `trivy-opetator v0.5.0` has been released, so its not part of `trivy-operator v0.5.0` , it will be out with `trivy-operator v0.6.0`

[2022-11-02 13:17] cebidhem opened #638 "feat(helm): allow an user defined existing secret"
Hey there,

We are using Trivy for a long time in our CI, but we recently decided to give a try to the Trivy Operator.
As I noted for trivy in https://github.com/aquasecurity/trivy/issues/2586, all secrets for trivy-operator must be defined as values in order to get consumed by the secret (see https://github.com/aquasecurity/trivy-operator/blob/v0.5.0/deploy/helm/templates/config.yaml#L134).
It wo

[2022-11-02 15:45] cebidhem commented on #638
Hi @chen-keinan I don't know how the project works, should I ping a codeowner or reviewer in the PR to get it reviewed ?

Or are PRs assigned by someone else in the project ?

[2022-11-03 06:44] chen-keinan commented on #638
@cebidhem its ok , I review new PRs on a daily basis.  your PR is on my queue

[2022-11-03 18:21] chen-keinan commented on #591
@krep-dr please let me know if still issue after `v0.5.0` ☝️

[2022-11-03 22:19] chen-keinan opened #642 "Generate config-audit on config map change"
when config map has been changed after ConfigAudit report was generated , a new report is not re-generated.

[2022-11-04 07:55] krep-dr commented on #591
@chen-keinan thanks. I haven't got around to test it yet. Hopefully I can take a look at it later today or next week

[2022-11-04 17:45] cnwaldron opened #645 "Add resource to trivy_vulnerability_id metric"
It would be really useful to include the resource and installed version in the trivy_vulnerability_id metric to help  tracking down specific package CVEs or installed versions of packages.

[2022-11-04 18:26] dkulchinsky opened #646 "Adding labels with non-alphanum characters (.,/) to reportResourceLabels fails to generate metrics"
**What steps did you take and what happened:**

defined report resource labels to include the Kubernetes [standard labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels):
[code]

**What did you expect to happen:**

was expecting to see the above labels added to the vulnerability reports and metrics, however the operator failed to create the metrics with th

[2022-11-04 18:36] chen-keinan commented on #646
@dkulchinsky thanks for reporting it , we will add sanitization to label name.

[2022-11-04 18:37] chen-keinan commented on #645
@cnwaldron could you please add an example

[2022-11-06 14:43] #638 closed

[2022-11-06 18:23] #642 closed

[2022-11-06 18:27] #646 closed

[2022-11-06 18:29] chen-keinan commented on #541
@adrianmarcu18 could you please add an example

[2022-11-06 20:31] dkulchinsky commented on #646
thanks for the quick fix @chen-keinan!

[2022-11-07 08:17] vinodecho07 opened #651 "Differentiate between Base Image Vulnrabilities and Application Vulnrabilities"
Adds to the vulnerability class field (os-pkgs or lang-pkgs) to the metric report so that it becomes possible to identify vulnerabilities based on this.

[2022-11-07 08:22] chen-keinan opened #652 "Add support for k8s infra checks"
it is required to add support for k8s core components (etcd, api-server, scheduler and more) also know as k8s infra checks.
- create designated report for checks output.
- add docs
- add data to metrics

[2022-11-07 09:48] GregoryLazarev opened #654 "Got error "unable to run trivy operator: starting controllers manager""
**What steps did you take and what happened:**

I deployed trivy-operator via Helm. After deploy it works for some time, then crashes. Last message in operator logs is

`unable to run trivy operator: starting controllers manager: [failed to wait for ingress caches to sync: timed out waiting for cache to be synced, failed waiting for all runnables to end within grace period of 30s: context deadline

[2022-11-07 10:37] adrianmarcu18 commented on #541
Hello. Here is an example of how a vulnerability report could look like for docker image containing a nodejs application.
`- fixedVersion: '6.1.9, 5.0.10, 4.4.18'
  installedVersion: 4.4.15
  links: []
  primaryLink: 'https://avd.aquasec.com/nvd/cve-2021-37712'
  resource: tar
  score: 8.1
  severity: HIGH
  target: ''
  title: >-
    nodejs-tar: Insufficient symlink protection due to directory ca

[2022-11-07 11:08] chen-keinan commented on #654
@GregoryLazarev is this happen every time the operator is running  ?

[2022-11-07 12:23] nobbs opened #657 "Scans take 10+ min in air-gapped cluster for some images as trivy tries to reach search.maven.org"
**What steps did you take and what happened:**

I've deployed the trivy-operator successfully on a cluster running on [RKE2](https://docs.rke2.io/) using the Helm chart. Operator is starting as expected and logs do show that it is also being triggered when workloads are created. Unfortunetaly, it is not able to scan images and returns the following error:

[code]

It looks like it can't find the `

[2022-11-07 12:50] chen-keinan commented on #657
@nobbs thanks for you feedback , I'll review this option

[2022-11-08 05:20] GregoryLazarev commented on #654
@chen-keinan Yes, every time

[2022-11-08 07:14] chen-keinan commented on #654
thanks this input , just to clarify, you get this error `failed to wait for ingress caches to sync: timed out waiting for cache to be synced` every time ?

[2022-11-08 08:05] #573 closed

[2022-11-08 10:57] HaveFun83 opened #665 "Add reference to artifacthub.io"
It will be great to the list the trivy-operator helmchart as official artifact within Artifact Hub.
https://artifacthub.io/docs/topics/repositories/helm-charts/#helm-charts-repositories

[2022-11-08 12:00] GregoryLazarev commented on #654
Exactly 😞 Same error every time. Even after restart

[2022-11-09 07:46] chen-keinan commented on #654
@GregoryLazarev  I have released `trivy-operator v0.6.0-rc3`  please confirm it solve your issue

[2022-11-09 07:50] neiser opened #668 "Implement "Caching Scan Results by Image Reference""
I'm interested in the status of the document [Caching Scan Results by Image Reference](https://github.com/aquasecurity/trivy-operator/blob/main/docs/design/caching_scan_results_by_repo_digest.md), as my team would really appreciate such a feature being implemented. The document reads as if there was already some implementation attempt for the operator code here, but I can't find any pull request o

[2022-11-09 08:04] NissesSenap commented on #668
@neiser I started looking in to it in the starboard project but I haven't been active in the aquasecurity project in a long time so I can't remember to be honest.

I know that  @danielpacak started on a PR before he stopped and instead wrote a design document that I gave some feedback on: https://github.com/aquasecurity/starboard/pull/740.

But I don't think anything was done after that but as I s

[2022-11-09 08:16] neiser commented on #668
@NissesSenap Thanks for that super quick reply!

[2022-11-09 08:40] chen-keinan commented on #668
@neiser this could be a very good feature and go for it if you wish 🚀  few points :
- TTL -  today each report has by default TTL (24h , configurable)  , I think will be good to keep it for vulnerability cluster reports (avoid false negative)
- GC  - not sure if it is a must as we have TTL but today each report own by one resource
- it will be great to make it configurable

[2022-11-09 21:01] chen-keinan commented on #633
@amansharif `trivy-operator v0.6.0-rc3` is available you can try the feature with it